/* Футер */


.footer {
	height: $footer_height;
	margin: -$footer_height 0 0 0;
	background: #353535;
	position: relative;
	z-index: 2;

	div,
	p,
	a,
	span{
		color: $white_color;
	}
	
	& > div {
		padding: 40px 0 0 0;
	}
	
	.sprite {
		padding: 0 0 38px 53px;
		
	}
	
	.contacts {
		/*width: 410px;*/
		width: 300px;
	}
	
	.ur-data {
		/*width: 320px;*/
		width: 285px;
		/*margin: 0 60px 0 0;*/
		margin: 0 25px 0 0;
			
		.txt {
			margin: 0 0 29px 0;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	.view-map {
		img {
			width: 375px;
		}
	}
	
	.email {
		background-position: 0 -994px;
	}
	.phones {
		background-position: 0 -1053px;
	}
	.adress {
		background-position: 0 -1152px;
	}
	
	.site-name {
		padding: 0 17px 0 0;
	}
	
	.copyright {
		margin: 20px 0 0 0;
	}
}

.footer-hdr {
	margin: 0 0 30px 0;
}

/* end Футер */
