/* Шапка сайта */
.header {
	background: $grey_color_5;
	border-bottom: 1px solid #e9ebed;
}


.top-line {
	background: #f6f6f8;
	border-bottom: 1px solid #e9e9ec;
	padding: 12px 0 0 0;
	margin: 0 0 61px 0;
	height: 42px;
}

.login-form {
	padding: 7px 20px 0 0;
}

.log-in-btn {
	background-position: 0 0;
	padding: 0 16px 0 32px;
}
.reg-btn {
	padding: 0 0 0 19px;
	border-left: 1px solid $grey_color_1;
}

.search-block {
	position: relative;
	
	.searchbox {
		width: 329px;
		padding-right: 35px;
		padding-bottom: 7px;
	}
	.button {
		display: block;
		background-position: 4px -24px;
		background-color: $link_color_hover;
		border: none;
		width: 26px;
		height: 28px;
		cursor: pointer;
		position: absolute;
		@include border_radius($border_radius_1);
		top: 2px;
		right: 2px;
		&:hover {
			background-position: 4px -24px;
			background-color: $link_color_hover;
		}
	}
}

.CartModule {
	height: 40px;
	background-position: 0 -55px;
	padding: 0 0 0 43px;
}

.logo-top {
	img {
		display: block;
	}
	
	font-size: 20px;
	font-style: italic;
	color: #858585;
	text-align: center;
	display: block;
	width: 480px;
	&:hover {
		@include text_decoration_none;
		color: #858585;
	}
}

.header {
	.contacts {
		/*margin: 0 0 0 152px;*/
		margin: 0 0 0 45px;


		.phone-vel,
		.phone-mts {
			padding: 0 5px 0 25px;
			font-size: 21px;

		}

		.phone-vel {
			background-position: 0 -205px;
		}

		.phone-mts {
			background-position: 0 -235px;
		}

		.work-time {
			color: $grey_color_2;
		}
	}
}

.consultant-block {
	padding: 0 0 0 95px;
	background-position: 0 -105px;
	
	.status {
		padding: 0 0 0 17px;
		text-transform: uppercase;
	}
	
	.online {
		color: $green_color_1;
		background-position: 0 -179px;
	}
	
	.offline {
		color: $red_color_1;
		background-position: 0 -264px;
	}
	
	.title {
		color: $grey_color_3;
	}
	
}
.main-menu-wr {
	margin: 36px 0 55px 0;
}

.main-menu li {
	float: left;
	@include button_border(14px 17px);
	border-color: $grey_color_5;
	/*margin-right: 50px;*/
	margin-right: 20px;
	&.active {
		border-color: $grey_color_4;
		
		a {
			color: $grey_color_4;
		}
	}
	
	&:hover {
		border-color: $blue_color_1;
	}
	
	a {
		font-size: 22px;
		color: $blue_color_1;
	}
}

.currency {
	color: $grey_color_3;
	
	span {
		color: $link_color; 
	}
}
/* end Шапка сайта */
