/* Боковое меню */
.menu-cat {
	border: 5px solid $grey_color_4;
	@include border_radius($border_radius_1);
	padding: 13px 5px;
	background: $white_color;
	
	li {
		a {
			display: block;
			background-position: 155px -312px;
			line-height: 28px;
			padding-left: 10px;
			
			
			&:hover {
				text-decoration: none;
				background-position: 192px -342px;
			}
			
		}
	}
	
	& .active > ul {
		display: block;
	}
	
	& > ul > li > a {
		text-transform: uppercase;
		color: $blue_color_1;
	}
	
	& > ul > li > ul > li > a {
		padding-left: 20px; 
	}
	& > ul > li > ul > li > ul > li > a {
		padding-left: 30px; 
	}
	
	& > ul > li > ul li a {
		
		border: 1px solid $white_color;
		@include border_radius($border_radius_1);
		
		&:hover {
			border-color: $grey_color_6;
			
		}
	}
	
	
}

.categories-menu ul {
	@include hidden_state;
}

/* end Боковое меню */
