/* Блок новостей */

.news-block-item {
	border: 1px solid $grey_color_8;
	@include border_radius($border_radius_1);
	margin: 0 0 10px 0;
	padding: 8px;
	
	&:hover {
		border-color: $border_radius_1;
		background-color: $white_color;
	}
}

.news-block	{
	.header-wr {
		border-bottom: 1px solid $grey_color_7;
		margin: 0 0 15px 0;
		
		h3 {
			display: inline-block;
			padding: 0 20px;
			width: auto;
			height: 45px;
			line-height: 52px;
		}
		
		.two-lines {
			line-height: 24px;
			height: 60px;
			text-align: left;
			padding-top: 18px;
		}
	}
	
	.news-block-shop > div {
		margin-right:6px;
	}
	
	.news-block-companies > div {
		margin-left: 6px;
	}
	
	.image-block {
		img {
			/*width: 130px;*/
			width: 100px;
		}
	}
	
	.created-by,
	.created {
		margin: 5px 0 0 0;
	}
	
	.created-by,
	.created-by a,
	.created {
		color: $grey_color_2;
	}
	
	.text-block {
		/*margin: 0 0 0 140px;*/
		margin: 0 0 0 110px;
		
		.item-title {
			color: $blue_color_1;
		}
		
		.item-intro {
			margin: 4px 0 0 0;
		}
	}
	
	.all-news {
		display: inline-block;
	}
	
}

.new-positions {
	margin: 0 0 80px 0;
}


/* end Блок новостей */
