@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* необходимо для @filter-gradient */
.ico-sprite, .ico-addr, .ico-arrow-right, .stages-block .stage1:before,
.stages-block .stage2:before, .ico-car1, .ico-car2, .ico-close-blue, .ico-close-red, .ico-close-white, .ico-double-arrow-left, .ico-double-arrow-right, .ico-farba, .footer .created-by a:before, .ico-girya, .ico-gruz-big, .map-block .btn-zakazhu:before, .ico-info-popup, .ico-info, .ico-key, .header-row1-menu .login:before, .footer-cell-last .login:before, .ico-plus, .header-row2 .btn-zakazhu:before, .ico-ptica, .ico-question, .header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before, .ico-rating-bad, .ico-rating-good, .ico-star-empty, .ico-star-full-blue, .ico-star-full, .ico-watches-big, .benefits-block li:before, .ico-zoom-big, .map-block .btn-perevezu:before, .ico-zoom, .header-row2 .btn-perevezu:before {
  background-image: url('../images/ico-s0a2c9c99a5.png');
  background-repeat: no-repeat;
}

.ico-addr {
  background-position: 0 0;
  height: 17px;
  width: 11px;
}

.ico-arrow-right, .stages-block .stage1:before,
.stages-block .stage2:before {
  background-position: 0 -17px;
  height: 20px;
  width: 13px;
}

.ico-car1 {
  background-position: 0 -37px;
  height: 27px;
  width: 40px;
}

.ico-car2 {
  background-position: 0 -64px;
  height: 17px;
  width: 26px;
}

.ico-close-blue {
  background-position: 0 -81px;
  height: 28px;
  width: 29px;
}

.ico-close-red {
  background-position: 0 -109px;
  height: 28px;
  width: 29px;
}

.ico-close-white {
  background-position: 0 -137px;
  height: 12px;
  width: 12px;
}

.ico-double-arrow-left {
  background-position: 0 -149px;
  height: 13px;
  width: 13px;
}

.ico-double-arrow-right {
  background-position: 0 -162px;
  height: 13px;
  width: 13px;
}

.ico-farba, .footer .created-by a:before {
  background-position: 0 -175px;
  height: 30px;
  width: 19px;
}

.ico-girya {
  background-position: 0 -205px;
  height: 19px;
  width: 14px;
}

.ico-gruz-big, .map-block .btn-zakazhu:before {
  background-position: 0 -224px;
  height: 50px;
  width: 50px;
}

.ico-info-popup {
  background-position: 0 -274px;
  height: 6px;
  width: 10px;
}

.ico-info {
  background-position: 0 -280px;
  height: 11px;
  width: 13px;
}

.ico-key, .header-row1-menu .login:before, .footer-cell-last .login:before {
  background-position: 0 -291px;
  height: 12px;
  width: 5px;
}

.ico-plus, .header-row2 .btn-zakazhu:before {
  background-position: 0 -303px;
  height: 16px;
  width: 16px;
}

.ico-ptica {
  background-position: 0 -319px;
  height: 15px;
  width: 16px;
}

.ico-question, .header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before {
  background-position: 0 -334px;
  height: 17px;
  width: 17px;
}

.ico-rating-bad {
  background-position: 0 -351px;
  height: 23px;
  width: 19px;
}

.ico-rating-good {
  background-position: 0 -374px;
  height: 23px;
  width: 19px;
}

.ico-star-empty {
  background-position: 0 -397px;
  height: 12px;
  width: 12px;
}

.ico-star-full-blue {
  background-position: 0 -409px;
  height: 12px;
  width: 12px;
}

.ico-star-full {
  background-position: 0 -421px;
  height: 12px;
  width: 12px;
}

.ico-watches-big, .benefits-block li:before {
  background-position: 0 -433px;
  height: 89px;
  width: 90px;
}

.ico-zoom-big, .map-block .btn-perevezu:before {
  background-position: 0 -522px;
  height: 44px;
  width: 44px;
}

.ico-zoom, .header-row2 .btn-perevezu:before {
  background-position: 0 -566px;
  height: 19px;
  width: 19px;
}

.btns-sprite, .btns-blue-33-h, .btn-blue-33:hover, .btns-blue-33, .btn-blue-33, .btns-blue-52-h, .btn-blue-52:hover, .btns-blue-52, .btn-blue-52, .btns-blue-66-h, .btn-blue-66:hover, .btns-blue-66, .btn-blue-66, .btns-green-33-h, .btn-green-33:hover, .btns-green-33, .btn-green-33, .btns-green-52-h, .btn-green-52:hover, .btns-green-52, .btn-green-52, .btns-green-66-h, .btn-green-66:hover, .btns-green-66, .btn-green-66 {
  background-image: url('../images/btns-s076de7583f.png');
  background-repeat: no-repeat;
}

.btns-blue-33-h, .btn-blue-33:hover {
  background-position: 0 0;
}

.btns-blue-33, .btn-blue-33 {
  background-position: 0 -33px;
}

.btns-blue-52-h, .btn-blue-52:hover {
  background-position: 0 -66px;
}

.btns-blue-52, .btn-blue-52 {
  background-position: 0 -118px;
}

.btns-blue-66-h, .btn-blue-66:hover {
  background-position: 0 -170px;
}

.btns-blue-66, .btn-blue-66 {
  background-position: 0 -236px;
}

.btns-green-33-h, .btn-green-33:hover {
  background-position: 0 -302px;
}

.btns-green-33, .btn-green-33 {
  background-position: 0 -335px;
}

.btns-green-52-h, .btn-green-52:hover {
  background-position: 0 -368px;
}

.btns-green-52, .btn-green-52 {
  background-position: 0 -420px;
}

.btns-green-66-h, .btn-green-66:hover {
  background-position: 0 -472px;
}

.btns-green-66, .btn-green-66 {
  background-position: 0 -538px;
}

.map-block .btn-zakazhu, .map-block .btn-perevezu, .stages-block .stage1,
.stages-block .stage2, .benefits-block li, .header-row1-menu .gruzodatel,
.header-row1-menu .perevozchik, .header-row1-menu .login, .header-row2 .btn-zakazhu, .header-row2 .btn-perevezu, .footer .created-by a, .footer-cell-last .login {
  position: relative;
}
.map-block .btn-zakazhu:before, .map-block .btn-perevezu:before, .stages-block .stage1:before,
.stages-block .stage2:before, .benefits-block li:before, .header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before, .header-row1-menu .login:before, .header-row2 .btn-zakazhu:before, .header-row2 .btn-perevezu:before, .footer .created-by a:before, .footer-cell-last .login:before {
  content: ' ';
  position: absolute;
}

body, h2, .stages-block .descr, .benefits-block li {
  color: #000;
}

a, .header-row2 .questions .phone-numb, .footer-cell a:visited,
.footer-cell a:hover,
.footer-cell a {
  color: #0a80cb;
}

.footer .questions, .footer .questions .title {
  color: #2e3c54;
}

a:hover {
  color: #2d9ae0;
}

.footer .questions, .footer .questions .title {
  color: #2e3c54;
}

.header-row1-menu a {
  color: #53aae2;
}

.stages-block .title, .benefits-block .header, .footer .created-by {
  color: #697f9a;
}

a:visited {
  color: #70a3c4;
}

.header-row2 .questions .title {
  color: #8093a9;
}

.header-row2 .questions {
  color: #96a5b8;
}

.header-row1-menu .separator span, .footer-cell-last span {
  color: #ccd3d7;
}

.btn-blue-33:visited,
.btn-green-33:visited,
.btn-blue-66:visited,
.btn-green-66:visited,
.btn-blue-52:visited,
.btn-green-52:visited, .btn-blue-33,
.btn-green-33, .btn-blue-33:hover,
.btn-green-33:hover, .btn-blue-52,
.btn-green-52, .btn-blue-52:hover,
.btn-green-52:hover, .btn-blue-66,
.btn-green-66, .btn-blue-66:hover,
.btn-green-66:hover, .map-block .info span, .statistic-block li {
  color: #fff;
}

.stages-block .descr, .benefits-block li, .header-row1-menu a, .footer-cell-last span,
.footer-cell-last a {
  font-size: 12px;
}

.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52 {
  font-size: 14px;
}

.footer .questions, .footer .questions .title {
  font-size: 18px;
}

h3 {
  font-size: 19px;
}

.stages-block .title, .header-row2 .questions .title {
  font-size: 20px;
}

.btn-blue-66,
.btn-green-66, .header-row2 .questions {
  font-size: 24px;
}

.benefits-block li span {
  font-size: 28px;
}

.statistic-block li {
  font-size: 30px;
}

.benefits-block .header {
  font-size: 36px;
}

.map-block .info span, .statistic-block li span {
  font-size: 48px;
}

h1, h2, h3 {
  font-weight: bold;
}

h2, .btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66 {
  text-transform: uppercase;
}

a, .footer .created-by a, .footer-cell-last a {
  text-decoration: underline;
}
a:hover, .footer .created-by a:hover {
  text-decoration: none;
}

.footer-cell a {
  text-decoration: none;
}
.footer-cell a:hover {
  text-decoration: underline;
}

.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66 {
  text-decoration: none;
}
.btn-blue-33:hover,
.btn-green-33:hover, .btn-blue-52:hover,
.btn-green-52:hover, .btn-blue-66:hover,
.btn-green-66:hover {
  text-decoration: none;
}

.fLeft, .sideLeft, .container, .stages-block ul, .stages-block li, .statistic-block ul, .statistic-block li, .benefits-block ul, .benefits-block li, .header-row1-menu li, .logo-top, .header-row2 .buttons-block, .footer-cell, .footer-cell-last li {
  float: left;
}

.fRight, .header-row1-menu .login-items, .header-row2 .questions, .footer-cell-last {
  float: right;
}

.map-block .info span, .statistic-block li span, .benefits-block li span, .logo-top, .footer .questions .title, .footer .created-by a {
  display: block;
}

.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66 {
  display: inline-block;
}

.hidden {
  display: none;
}

.stages-block ul, .stages-block li, .statistic-block ul, .statistic-block li, .benefits-block ul, .benefits-block li, .footer .created-by {
  position: relative;
}

.footer .created-by a {
  position: absolute;
}

.map-block .info, .statistic-block li, .benefits-block .header, .benefits-block li {
  text-align: center;
}

/*font family*/
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66, .map-block .info span, .stages-block .title, .statistic-block li span, .header-row2 .questions .title, .header-row2 .questions .phone-numb, .footer .questions {
  font-family: 'ptsans-narrow-bold', sans-serif;
}

.statistic-block li, .benefits-block .header, .benefits-block li span, .header-row2 .questions, .footer .questions .title {
  font-family: 'ptsans-narrow-regular', sans-serif;
}

@font-face {
  font-family: 'ptsans-narrow-bold';
  src: url("../../../fonts/PT_Sans-Narrow-Bold.eot");
  src: url("../../../fonts/PT_Sans-Narrow-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PT_Sans-Narrow-Bold.woff") format("woff"), url("../../../fonts/PT_Sans-Narrow-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ptsans-narrow-regular';
  src: url("../../../fonts/PT_Sans-Narrow-Regular.eot");
  src: url("../../../fonts/PT_Sans-Narrow-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PT_Sans-Narrow-Regular.woff") format("woff"), url("../../../fonts/PT_Sans-Narrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.jq-selectbox__select,
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
.inputbox,
textarea {
  outline: none;
}

input[type="text"],
input[type="password"],
.inputbox,
textarea {
  border: 1px solid #c5d2e3;
  padding: 2px 15px;
}
input[type="text"]:focus,
input[type="password"]:focus,
.inputbox:focus,
textarea:focus {
  border-color: #96a7bd;
}
input[type="text"].error,
input[type="password"].error,
.inputbox.error,
textarea.error {
  border-color: #de5151;
}

a {
  outline: none;
}

li {
  list-style: none;
}

a:active,
a:focus,
img {
  outline: 0;
  outline: none;
}

.content-text p {
  margin: 0 0 28px 0;
}

img {
  border: none;
}

input {
  vertical-align: middle;
}

h1 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 28px;
  margin: 0 0 25px 0;
}

.clr {
  clear: both;
}

.clr-l {
  clear: left;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

span sup {
  text-decoration: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

/*
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, */
/*.container {display:block;}*/
.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.btn-blue-33,
.btn-green-33 {
  padding: 0 35px;
  height: 33px;
  line-height: 33px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-green-33 {
  text-shadow: #209122 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-green-33:hover {
  background-repeat: repeat-x;
}

.btn-blue-33 {
  text-shadow: #165caa 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-blue-33:hover {
  background-repeat: repeat-x;
}

.btn-blue-52,
.btn-green-52 {
  padding: 0 40px;
  height: 52px;
  line-height: 52px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-green-52 {
  text-shadow: #209122 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-green-52:hover {
  background-repeat: repeat-x;
}

.btn-blue-52 {
  text-shadow: #165caa 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-blue-52:hover {
  background-repeat: repeat-x;
}

.btn-blue-66,
.btn-green-66 {
  padding: 0 60px;
  height: 66px;
  line-height: 66px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-green-66 {
  text-shadow: #209122 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-green-66:hover {
  background-repeat: repeat-x;
}

.btn-blue-66 {
  text-shadow: #165caa 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-blue-66:hover {
  background-repeat: repeat-x;
}

.width-wrap {
  width: 1225px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.wrapper {
  height: 100%;
  width: 100%;
  min-width: 1235px;
  margin: 0;
  padding: 0;
}

.wrapperPage {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #fff;
}

.middle {
  padding-bottom: 290px;
}

.footer {
  height: 290px;
  margin: -290px 0 0 0;
  background: #f4fbfe;
  position: relative;
  z-index: 2;
}

.central {
  background: #f5f5f5;
  padding-bottom: 55px;
}

.sideLeft {
  position: relative;
  width: 210px;
  margin-right: -210px;
}

.container {
  width: 100%;
}

.column2l {
  padding-left: 220px;
}

.content-wr {
  margin: 0 10px 0 0;
}

.map-block {
  padding-top: 115px;
  height: 280px;
  background: url(../images/map.jpg) no-repeat top center;
}
.map-block .info {
  width: 620px;
  margin: 0 auto 0 auto;
}
.map-block .info span {
  padding-bottom: 25px;
}
.map-block .btn-zakazhu {
  margin: 0 30px 0 0;
  padding: 0 25px 0 80px;
}
.map-block .btn-zakazhu:before {
  top: 50%;
  margin: -25px 0 0 -55px;
}
.map-block .btn-perevezu {
  padding: 0 50px 0 105px;
}
.map-block .btn-perevezu:before {
  top: 50%;
  margin: -22px 0 0 -70px;
}

.stages-block {
  background-color: #f4fbfe;
  overflow: hidden;
  height: 244px;
  border-bottom: 1px solid #bbdceb;
}
.stages-block ul {
  left: 50%;
}
.stages-block li {
  right: 50%;
  margin: 65px 45px 0 45px;
  height: 165px;
}
.stages-block .stage1:before,
.stages-block .stage2:before {
  right: 0;
  top: 48px;
}
.stages-block .stage1 {
  width: 195px;
  padding: 0 55px 0 125px;
  background: url(../images/stage1.png) no-repeat left top;
}
.stages-block .stage2 {
  width: 195px;
  padding: 0 55px 0 115px;
  background: url(../images/stage2.png) no-repeat left top;
}
.stages-block .stage3 {
  width: 200px;
  padding: 0 0 0 75px;
  background: url(../images/stage3.png) no-repeat left top;
}
.stages-block .title {
  margin: 0 0 20px 0;
}

.statistic-block {
  height: 190px;
  background: url(../images/map.jpg) no-repeat top center;
  overflow: hidden;
}
.statistic-block ul {
  left: 50%;
}
.statistic-block li {
  right: 50%;
  margin: 55px 84px 0 84px;
}

.benefits-block {
  overflow: hidden;
  padding: 50px 0 90px 0;
}
.benefits-block .header {
  margin: 0 0 40px 0;
}
.benefits-block ul {
  left: 50%;
}
.benefits-block li {
  right: 50%;
  margin: 0 84px 0 84px;
  padding: 120px 0 0 0;
  width: 285px;
}
.benefits-block li:before {
  left: 50%;
  top: 0;
  margin-left: -45px;
}
.benefits-block li span {
  padding-bottom: 20px;
}

/* ╨и╨░╨┐╨║╨░ ╤Б╨░╨╣╤В╨░ */
.header-row1 {
  background-color: #f3fbff;
  border-bottom: 1px solid #bbdceb;
  padding: 10px 0 15px 0;
}

.header-row1-menu li {
  height: 25px;
  line-height: 25px;
  margin: 0 60px 0 0;
}
.header-row1-menu .contacts {
  margin-right: 90px;
}
.header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before {
  top: 50%;
  margin-top: -9px;
}
.header-row1-menu .gruzodatel {
  border-left: 1px solid #53aae2;
  padding-left: 70px;
}
.header-row1-menu .gruzodatel:before {
  left: 48px;
}
.header-row1-menu .perevozchik {
  border-right: 1px solid #53aae2;
  padding-right: 70px;
}
.header-row1-menu .perevozchik:before {
  left: -22px;
}
.header-row1-menu .reg {
  margin-right: 0;
}
.header-row1-menu .login {
  margin-right: 0;
}
.header-row1-menu .login:before {
  top: 7px;
  left: -10px;
}
.header-row1-menu .separator {
  margin: 0 15px;
}

.header-row2 {
  padding: 20px 0 25px 0;
}
.header-row2 .buttons-block {
  margin: 8px 0 0 135px;
}
.header-row2 .btn-zakazhu {
  margin: 0 5px 0 0;
  padding: 0 25px 0 40px;
}
.header-row2 .btn-zakazhu:before {
  top: 50%;
  margin-top: -8px;
  margin-left: -20px;
}
.header-row2 .btn-perevezu {
  padding: 0 36px 0 56px;
}
.header-row2 .btn-perevezu:before {
  top: 50%;
  margin-top: -9px;
  margin-left: -25px;
}
.header-row2 .questions {
  margin-top: 18px;
}
.header-row2 .questions .title {
  padding: 0 25px 0 0;
}

/* ╨д╤Г╤В╨╡╤А */
.footer > div {
  padding-top: 60px;
}
.footer .questions {
  margin: 5px 0 0 99px;
}
.footer .created-by {
  font-size: 14px;
  line-height: 42px;
  margin: 20px 0 0 0;
}
.footer .created-by a:visited,
.footer .created-by a:hover,
.footer .created-by a {
  color: inherit;
}
.footer .created-by a {
  height: 30px;
  right: 0;
  top: 0;
  padding-left: 30px;
  line-height: 42px;
}
.footer .created-by a:before {
  left: 5px;
  top: 0;
}

.footer-cell {
  margin-right: 110px;
  height: 200px;
}
.footer-cell li {
  margin-bottom: 10px;
}

.footer-cell-last {
  margin-right: 0;
}
.footer-cell-last .login:before {
  top: 2px;
  left: -10px;
}
.footer-cell-last .separator {
  margin: 0 15px;
}
