@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* необходимо для @filter-gradient */
.ico-sprite, .ico-addr, .requests-list-head .addr:before, .ico-arrow-right, .stages-block .stage1:before,
.stages-block .stage2:before, .ico-avatar-s, .header-row1-menu .profile:before, .footer-cell-last .profile:before, .ico-car1, .requests-list-item_number:before, .ico-car2, .ico-close-blue, .ico-close-red, .ico-close-white, .ico-double-arrow-left, .radnom-reviews-item-text:before, .ico-double-arrow-right, .radnom-reviews-item-text .double-arrow-right, .ico-email-blue, .my-contact-info-company-edit .contacts .email:before, .my-contact-info-list .email:before, .ico-farba, .footer .created-by a:before, .ico-girya, .requests-list-item-info_gruzchiki:before, .ico-gruz-big, .map-block .btn-zakazhu:before, .ico-info-popup, .ico-info, .requests1-list-item-perevozchik a:before, .requests1-list-item-zakazchik a:before, .ico-key, .header-row1-menu .login:before, .footer-cell-last .login:before, .ico-logout, .header-row1-menu .logout a:before, .footer-cell-last .logout a:before, .ico-menu-documents-s, .my-top-menu-documents:before, .ico-menu-documents, .my-menu-item-documents:before, .ico-menu-info-s, .my-top-menu-info:before, .ico-menu-info, .my-menu-item-info:before, .ico-menu-profile-s, .my-top-menu-profile:before, .ico-menu-profile, .my-menu-item-profile:before, .ico-menu-transport-s, .my-top-menu-transport:before, .ico-menu-transport, .my-menu-item-transport:before, .ico-menu-zayavki-s, .my-top-menu-zayavki:before, .ico-menu-zayavki, .my-menu-item-zayavki:before, .ico-phone-blue, .my-contact-info-company-edit .phones .field-title:before, .my-contact-info-list .phone:before, .ico-plus, .header-row2 .btn-zakazhu:before, .ico-ptica, .ico-question, .header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before, .ico-rating-bad, .requests1-list-item-review-bad:before, .ico-rating-good, .requests1-list-item-review-good:before, .ico-skype-blue, .my-contact-info-company-edit .contacts .skype:before, .my-contact-info-list .skype:before, .ico-star-empty, .ico-star-full-blue, .ico-star-full, .ico-watches-big, .benefits-block li:before, .ico-website-blue, .my-contact-info-company-edit .contacts .website:before, .my-contact-info-list .website:before, .ico-zoom-big, .map-block .btn-perevezu:before, .ico-zoom, .header-row2 .btn-perevezu:before {
  background-image: url('../images/ico-sa2ea601d8b.png');
  background-repeat: no-repeat;
}

.ico-addr, .requests-list-head .addr:before {
  background-position: 0 0;
  height: 17px;
  width: 11px;
}

.ico-arrow-right, .stages-block .stage1:before,
.stages-block .stage2:before {
  background-position: 0 -17px;
  height: 20px;
  width: 13px;
}

.ico-avatar-s, .header-row1-menu .profile:before, .footer-cell-last .profile:before {
  background-position: 0 -37px;
  height: 11px;
  width: 11px;
}

.ico-car1, .requests-list-item_number:before {
  background-position: 0 -48px;
  height: 27px;
  width: 40px;
}

.ico-car2 {
  background-position: 0 -75px;
  height: 17px;
  width: 26px;
}

.ico-close-blue {
  background-position: 0 -92px;
  height: 28px;
  width: 29px;
}

.ico-close-red {
  background-position: 0 -120px;
  height: 28px;
  width: 29px;
}

.ico-close-white {
  background-position: 0 -148px;
  height: 12px;
  width: 12px;
}

.ico-double-arrow-left, .radnom-reviews-item-text:before {
  background-position: 0 -160px;
  height: 13px;
  width: 13px;
}

.ico-double-arrow-right, .radnom-reviews-item-text .double-arrow-right {
  background-position: 0 -173px;
  height: 13px;
  width: 13px;
}

.ico-email-blue, .my-contact-info-company-edit .contacts .email:before, .my-contact-info-list .email:before {
  background-position: 0 -186px;
  height: 13px;
  width: 20px;
}

.ico-farba, .footer .created-by a:before {
  background-position: 0 -199px;
  height: 30px;
  width: 19px;
}

.ico-girya, .requests-list-item-info_gruzchiki:before {
  background-position: 0 -229px;
  height: 19px;
  width: 14px;
}

.ico-gruz-big, .map-block .btn-zakazhu:before {
  background-position: 0 -248px;
  height: 50px;
  width: 50px;
}

.ico-info-popup {
  background-position: 0 -298px;
  height: 6px;
  width: 10px;
}

.ico-info, .requests1-list-item-perevozchik a:before, .requests1-list-item-zakazchik a:before {
  background-position: 0 -304px;
  height: 11px;
  width: 13px;
}

.ico-key, .header-row1-menu .login:before, .footer-cell-last .login:before {
  background-position: 0 -315px;
  height: 12px;
  width: 5px;
}

.ico-logout, .header-row1-menu .logout a:before, .footer-cell-last .logout a:before {
  background-position: 0 -327px;
  height: 14px;
  width: 8px;
}

.ico-menu-documents-s, .my-top-menu-documents:before {
  background-position: 0 -341px;
  height: 29px;
  width: 25px;
}

.ico-menu-documents, .my-menu-item-documents:before {
  background-position: 0 -370px;
  height: 45px;
  width: 37px;
}

.ico-menu-info-s, .my-top-menu-info:before {
  background-position: 0 -415px;
  height: 30px;
  width: 21px;
}

.ico-menu-info, .my-menu-item-info:before {
  background-position: 0 -445px;
  height: 43px;
  width: 31px;
}

.ico-menu-profile-s, .my-top-menu-profile:before {
  background-position: 0 -488px;
  height: 31px;
  width: 32px;
}

.ico-menu-profile, .my-menu-item-profile:before {
  background-position: 0 -519px;
  height: 42px;
  width: 43px;
}

.ico-menu-transport-s, .my-top-menu-transport:before {
  background-position: 0 -561px;
  height: 29px;
  width: 40px;
}

.ico-menu-transport, .my-menu-item-transport:before {
  background-position: 0 -590px;
  height: 37px;
  width: 51px;
}

.ico-menu-zayavki-s, .my-top-menu-zayavki:before {
  background-position: 0 -627px;
  height: 35px;
  width: 37px;
}

.ico-menu-zayavki, .my-menu-item-zayavki:before {
  background-position: 0 -662px;
  height: 41px;
  width: 41px;
}

.ico-phone-blue, .my-contact-info-company-edit .phones .field-title:before, .my-contact-info-list .phone:before {
  background-position: 0 -703px;
  height: 19px;
  width: 14px;
}

.ico-plus, .header-row2 .btn-zakazhu:before {
  background-position: 0 -722px;
  height: 16px;
  width: 16px;
}

.ico-ptica {
  background-position: 0 -738px;
  height: 15px;
  width: 16px;
}

.ico-question, .header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before {
  background-position: 0 -753px;
  height: 17px;
  width: 17px;
}

.ico-rating-bad, .requests1-list-item-review-bad:before {
  background-position: 0 -770px;
  height: 23px;
  width: 19px;
}

.ico-rating-good, .requests1-list-item-review-good:before {
  background-position: 0 -793px;
  height: 23px;
  width: 19px;
}

.ico-skype-blue, .my-contact-info-company-edit .contacts .skype:before, .my-contact-info-list .skype:before {
  background-position: 0 -816px;
  height: 20px;
  width: 20px;
}

.ico-star-empty {
  background-position: 0 -836px;
  height: 12px;
  width: 12px;
}

.ico-star-full-blue {
  background-position: 0 -848px;
  height: 12px;
  width: 12px;
}

.ico-star-full {
  background-position: 0 -860px;
  height: 12px;
  width: 12px;
}

.ico-watches-big, .benefits-block li:before {
  background-position: 0 -872px;
  height: 89px;
  width: 90px;
}

.ico-website-blue, .my-contact-info-company-edit .contacts .website:before, .my-contact-info-list .website:before {
  background-position: 0 -961px;
  height: 20px;
  width: 21px;
}

.ico-zoom-big, .map-block .btn-perevezu:before {
  background-position: 0 -981px;
  height: 44px;
  width: 44px;
}

.ico-zoom, .header-row2 .btn-perevezu:before {
  background-position: 0 -1025px;
  height: 19px;
  width: 19px;
}

.btns-sprite, .btns-blue-33-h, .btn-blue-33:hover, .btns-blue-33, .btn-blue-33, .btns-blue-52-h, .btn-blue-52:hover, .btns-blue-52, .btn-blue-52, .btns-blue-66-h, .btn-blue-66:hover, .btns-blue-66, .btn-blue-66, .btns-green-33-h, .btn-green-33:hover, .btns-green-33, .btn-green-33, .btns-green-52-h, .btn-green-52:hover, .btns-green-52, .btn-green-52, .btns-green-66-h, .btn-green-66:hover, .btns-green-66, .btn-green-66, .btns-grey-33-h, .btn-grey-33:hover, .btns-grey-33, .btn-grey-33 {
  background-image: url('../images/btns-s999dca8b19.png');
  background-repeat: no-repeat;
}

.btns-blue-33-h, .btn-blue-33:hover {
  background-position: 0 0;
}

.btns-blue-33, .btn-blue-33 {
  background-position: 0 -33px;
}

.btns-blue-52-h, .btn-blue-52:hover {
  background-position: 0 -66px;
}

.btns-blue-52, .btn-blue-52 {
  background-position: 0 -118px;
}

.btns-blue-66-h, .btn-blue-66:hover {
  background-position: 0 -170px;
}

.btns-blue-66, .btn-blue-66 {
  background-position: 0 -236px;
}

.btns-green-33-h, .btn-green-33:hover {
  background-position: 0 -302px;
}

.btns-green-33, .btn-green-33 {
  background-position: 0 -335px;
}

.btns-green-52-h, .btn-green-52:hover {
  background-position: 0 -368px;
}

.btns-green-52, .btn-green-52 {
  background-position: 0 -420px;
}

.btns-green-66-h, .btn-green-66:hover {
  background-position: 0 -472px;
}

.btns-green-66, .btn-green-66 {
  background-position: 0 -538px;
}

.btns-grey-33-h, .btn-grey-33:hover {
  background-position: 0 -604px;
}

.btns-grey-33, .btn-grey-33 {
  background-position: 0 -637px;
}

.map-block .btn-zakazhu, .map-block .btn-perevezu, .stages-block .stage1,
.stages-block .stage2, .benefits-block li, .requests-list-head .addr, .requests-list-item_number, .requests-list-item-info_gruzchiki, .requests1-list-item-perevozchik a, .requests1-list-item-zakazchik a, .requests1-list-item-review, .radnom-reviews-item-text, .my-menu-item, .my-contact-info-company-edit .phones .field-title, .my-contact-info-company-edit .contacts li, .my-top-menu-item, .my-contact-info-list p, .header-row1-menu .gruzodatel,
.header-row1-menu .perevozchik, .header-row1-menu .login, .header-row1-menu .logout a, .header-row1-menu .profile, .header-row2 .btn-zakazhu, .header-row2 .btn-perevezu, .footer .created-by a, .footer-cell-last .login, .footer-cell-last .logout a, .footer-cell-last .profile {
  position: relative;
}
.map-block .btn-zakazhu:before, .map-block .btn-perevezu:before, .stages-block .stage1:before,
.stages-block .stage2:before, .benefits-block li:before, .requests-list-head .addr:before, .requests-list-item_number:before, .requests-list-item-info_gruzchiki:before, .requests1-list-item-perevozchik a:before, .requests1-list-item-zakazchik a:before, .requests1-list-item-review:before, .radnom-reviews-item-text:before, .my-menu-item:before, .my-contact-info-company-edit .phones .field-title:before, .my-contact-info-company-edit .contacts li:before, .my-top-menu-item:before, .my-contact-info-list p:before, .header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before, .header-row1-menu .login:before, .header-row1-menu .logout a:before, .header-row1-menu .profile:before, .header-row2 .btn-zakazhu:before, .header-row2 .btn-perevezu:before, .footer .created-by a:before, .footer-cell-last .login:before, .footer-cell-last .logout a:before, .footer-cell-last .profile:before {
  content: ' ';
  position: absolute;
}

h2, .stages-block .descr, .benefits-block li {
  color: #000;
}

a, .breadcrumbs a, .change-email-block .current-email,
.change-password-block .current-email, .header-row2 .questions .phone-numb, .footer-cell a:visited,
.footer-cell a:hover,
.footer-cell a {
  color: #0a80cb;
}

.requests-list-item-info_url, .requests-list-item-info_url:visited, .requests-more-btn, .requests-more-btn:hover, .requests-more-btn:visited, .requests1-list-head-info a, .requests1-list-item-info a, .requests1-list-item-perevozchik a, .radnom-reviews .header a:visited {
  color: #1e91da;
}

body, input[type="text"],
input[type="password"],
.inputbox,
textarea, h1, .requests-list-item_number, .requests-list-item-info_gruzchiki, .requests-list-item_town, .requests-list-item-price_price, .requests1-list-item-numb, .requests1-list-item-review, .last-requests .header, .my-username, .my-last-requests-title, .my-rewiews-head, .my-rewiews-table .head, .footer .questions, .footer .questions .title {
  color: #2e3c54;
}

a:hover {
  color: #2d9ae0;
}

body, input[type="text"],
input[type="password"],
.inputbox,
textarea, h1, .requests-list-item_number, .requests-list-item-info_gruzchiki, .requests-list-item_town, .requests-list-item-price_price, .requests1-list-item-numb, .requests1-list-item-review, .last-requests .header, .my-username, .my-last-requests-title, .my-rewiews-head, .my-rewiews-table .head, .footer .questions, .footer .questions .title {
  color: #2e3c54;
}

.requests1-list-item-zakazchik a, .my-rewiews-table .good {
  color: #33a72c;
}

.header-row1-menu a {
  color: #53aae2;
}

.stages-block .title, .benefits-block .header, .footer .created-by {
  color: #697f9a;
}

.requests-list-head li, .requests1-list-head-item {
  color: #757575;
}

.breadcrumbs, .my-last-requests-title span, .header-row2 .questions .title {
  color: #8093a9;
}

.requests-list-item-info_descr, .requests-list-item_adress, .requests-list-item_author, .requests-list-item_author a, .requests-list-item_suggestions,
.requests-list-item_date {
  color: #8e95a1;
}

.header-row2 .questions {
  color: #96a5b8;
}

.requests1-list-item-date {
  color: #aab1ba;
}

.radnom-reviews .header {
  color: #b8b8b8;
}

.header-row1-menu .separator span, .footer-cell-last span {
  color: #ccd3d7;
}

.my-rewiews-table .bad {
  color: #eb4c4c;
}

.btn-grey-33:visited,
.btn-blue-33:visited,
.btn-green-33:visited,
.btn-blue-66:visited,
.btn-green-66:visited,
.btn-blue-52:visited,
.btn-green-52:visited, .btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-grey-33:hover,
.btn-blue-33:hover,
.btn-green-33:hover, .btn-blue-52,
.btn-green-52, .btn-blue-52:hover,
.btn-green-52:hover, .btn-blue-66,
.btn-green-66, .btn-blue-66:hover,
.btn-green-66:hover, .map-block .info span, .statistic-block li, .requests-list-item_suggestions .suggestion-orange,
.requests-list-item_suggestions .suggestion-green, .my-menu-url, .my-menu-url:visited, .my-menu-url:hover, .my-menu-descr, .my-rating-container .my-rating, .my-rating-info > div, .my-rating-age, .my-top-menu-item a, .my-top-menu-item a:visited, .my-top-menu-item a:hover {
  color: #fff;
}

.requests-list-item_author, .requests-list-item_author a {
  font-size: 11px;
}

.errorMessage, .stages-block .descr, .benefits-block li, .requests-list-head li, .requests-list-item_number, .requests-list-item-info_url, .requests-list-item-info_descr, .requests-list-item-info_gruzchiki, .requests-list-item_adress, .requests1-list-head-item, .requests1-list-item-numb, .requests1-list-item-info a, .requests1-list-item-perevozchik a, .requests1-list-item-zakazchik a, .requests1-list-item-review, .my-menu-descr, .my-rewiews-table .head, .header-row1-menu a, .footer .created-by a, .footer-cell a, .footer-cell-last span,
.footer-cell-last a {
  font-size: 12px;
}

.requests-list-item_town, .requests-list-item_suggestions,
.requests-list-item_date, .requests1-list-item-date {
  font-size: 13px;
}

input[type="text"],
input[type="password"],
.inputbox,
textarea, .btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .my-menu-url, .my-last-requests-title a, .my-rating-age, .my-rewiews-head, .my-rewiews-table .good, .my-rewiews-table .bad, .my-top-menu-item a, .my-contact-info-company-list p, .my-contact-info-descr {
  font-size: 14px;
}

.requests-list-item-price_price {
  font-size: 17px;
}

.breadcrumbs, .radnom-reviews .header a, .my-contact-info-header, .my-contact-info-list p, .footer .questions, .footer .questions .title {
  font-size: 18px;
}

h3 {
  font-size: 19px;
}

.stages-block .title, .requests-more-btn, .my-rating-container .my-rating, .header-row2 .questions .title {
  font-size: 20px;
}

.my-rating-info > div > span {
  font-size: 22px;
}

.narrow_bold_24, .btn-blue-66,
.btn-green-66, .last-requests .header, .radnom-reviews .header, .my-username, .my-last-requests-title, .header-row2 .questions {
  font-size: 24px;
}

.benefits-block li span {
  font-size: 28px;
}

.statistic-block li {
  font-size: 30px;
}

.benefits-block .header {
  font-size: 36px;
}

.map-block .info span, .statistic-block li span {
  font-size: 48px;
}

.my-last-requests-title span, .my-last-requests-title a {
  font-weight: normal;
}

h1, h2, h3, .narrow_bold_24, .requests-list-item_town, .requests-list-item-price_price, .my-menu-url, .my-username, .my-last-requests-title, .my-rating-container .my-rating, .my-rating-info > div > span, .my-rating-age span, .my-rewiews-head, .my-rewiews-table .good, .my-contact-info-company-edit .phones li, .my-contact-info-company-edit .contacts li, .change-email-block label,
.change-password-block label, .change-email-block .current-email,
.change-password-block .current-email, .my-top-menu-item a, .my-contact-info-list .phone, .my-contact-info-company-list p span {
  font-weight: bold;
}

.errorMessage {
  font-style: italic;
}

h2, .btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66 {
  text-transform: uppercase;
}

a, .footer .created-by a, .footer-cell-last a {
  text-decoration: underline;
}
a:hover, .footer .created-by a:hover {
  text-decoration: none;
}

.footer-cell a {
  text-decoration: none;
}
.footer-cell a:hover {
  text-decoration: underline;
}

.btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66, .header-row1-menu .logout a, .footer-cell-last .logout a {
  text-decoration: none;
}
.btn-grey-33:hover,
.btn-blue-33:hover,
.btn-green-33:hover, .btn-blue-52:hover,
.btn-green-52:hover, .btn-blue-66:hover,
.btn-green-66:hover, .header-row1-menu .logout a:hover, .footer-cell-last .logout a:hover {
  text-decoration: none;
}

.my-top-menu-item a {
  text-decoration: underline;
}
.my-top-menu-item a:hover {
  text-decoration: underline;
}

.fLeft, .sideLeft, .sideRight, .container, .column2r, .stages-block ul, .stages-block li, .statistic-block ul, .statistic-block li, .benefits-block ul, .benefits-block li, .requests-list-head li, .requests-list-item > div, .requests1-list-head-item, .requests1-list-item > div, .my-menu-item, .my-rating-info > div, .change-email-block,
.change-password-block, .my-top-menu-item, .my-contact-info-company-list, .header-row1-menu li, .logo-top, .header-row2 .buttons-block, .footer-cell, .footer-cell-last li {
  float: left;
}

.fRight, .requests-list-item .requests-list-item_price, .change-email-block .cancel-btn,
.change-email-block input[name="cancel"],
.change-password-block .cancel-btn,
.change-password-block input[name="cancel"], .header-row1-menu .login-items, .header-row2 .questions, .footer-cell-last {
  float: right;
}

.map-block .info span, .rating-stars .stars-empty, .rating-stars .stars-full, .statistic-block li span, .benefits-block li span, .requests-list-item_info span,
.requests-list-item_info a, .requests-list-item_to span,
.requests-list-item_to a,
.requests-list-item_from span,
.requests-list-item_from a, .requests-list-item_price span,
.requests-list-item_price a, .requests-more-btn, .my-menu-url, .my-menu-descr, .my-rating-stars-empty, .my-rating-stars-full, .my-rating-info > div > span, .change-email-block label,
.change-password-block label, .my-top-menu-item a, .header-row1-menu .logout a, .logo-top, .footer .questions .title, .footer .created-by a, .footer-cell-last .logout a {
  display: block;
}

.form div.radiobuttons-list input,
.form div.radiobuttons-list label, .requests-list-item_author a, .my-contact-info-company-edit .phones li, .my-contact-info-company-edit .contacts li {
  display: inline;
}

.btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66, .requests-list-item_suggestions .suggestion-orange,
.requests-list-item_suggestions .suggestion-green, .radnom-reviews-item-text .double-arrow-right {
  display: inline-block;
}

.hidden {
  display: none;
}

.rating-stars, .stages-block ul, .stages-block li, .statistic-block ul, .statistic-block li, .benefits-block ul, .benefits-block li, .requests-list-item_from, .my-rating-stars, .my-rating-container .my-rating, .my-contact-info-container, .footer .created-by {
  position: relative;
}

.rating-stars .stars-empty, .rating-stars .stars-full, .requests-list-item_author, .radnom-reviews-item-text .double-arrow-right, .my-rating-stars-empty, .my-rating-stars-full, .my-rating-container .my-rating .my-rating-stars, .my-top-menu-item.active:after, .my-top-menu-item:hover:after, .my-contact-info-container .btn-w250, .footer .created-by a {
  position: absolute;
}

.btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66, .map-block .info, .statistic-block li, .benefits-block .header, .benefits-block li, .requests-list-head .price, .requests-more-btn, .requests1-list-head-rating, .requests1-list-item-numb, .my-rewiews-head, .my-rewiews-table td, .header-row2 .btn-zakazhu-270,
.header-row2 .btn-perevezu-270 {
  text-align: center;
}

.btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52 {
  cursor: pointer;
}

.change-email-block,
.change-password-block {
  width: 50%;
}

.rating-stars .stars-empty, .my-rewiews-table {
  width: 100%;
}

/*font family*/
h1, .narrow_bold_24, .btn-grey-33,
.btn-blue-33,
.btn-green-33, .btn-blue-52,
.btn-green-52, .btn-blue-66,
.btn-green-66, .map-block .info span, .stages-block .title, .statistic-block li span, .my-username, .my-last-requests-title, .my-contact-info-header, .header-row2 .questions .title, .header-row2 .questions .phone-numb, .footer .questions {
  font-family: 'ptsans-narrow-bold', sans-serif;
}

.breadcrumbs, .statistic-block li, .benefits-block .header, .benefits-block li span, .requests-more-btn, .last-requests .header, .radnom-reviews .header, .my-last-requests-title span, .header-row2 .questions, .footer .questions .title {
  font-family: 'ptsans-narrow-regular', sans-serif;
}

.my-last-requests-title a {
  font-family: arial, sans-serif;
}

@font-face {
  font-family: 'ptsans-narrow-bold';
  src: url("../../../fonts/PT_Sans-Narrow-Bold.eot");
  src: url("../../../fonts/PT_Sans-Narrow-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PT_Sans-Narrow-Bold.woff") format("woff"), url("../../../fonts/PT_Sans-Narrow-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ptsans-narrow-regular';
  src: url("../../../fonts/PT_Sans-Narrow-Regular.eot");
  src: url("../../../fonts/PT_Sans-Narrow-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PT_Sans-Narrow-Regular.woff") format("woff"), url("../../../fonts/PT_Sans-Narrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.jq-selectbox__select,
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
.inputbox,
textarea {
  outline: none;
}

input[type="text"],
input[type="password"],
.inputbox,
textarea {
  border: 1px solid #c5d2e3;
  padding: 4px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus,
.inputbox:focus,
textarea:focus {
  border-color: #96a7bd;
  -moz-box-shadow: 0px 0px 1px 1px #96a7bd;
  -webkit-box-shadow: 0px 0px 1px 1px #96a7bd;
  box-shadow: 0px 0px 1px 1px #96a7bd;
}
input[type="text"].error,
input[type="password"].error,
.inputbox.error,
textarea.error {
  border-color: #de5151;
}

a {
  outline: none;
  /*
  &:visited {
  	@extend %c_70a3c4;
  }
  */
}

li {
  list-style: none;
}

a:active,
a:focus,
img {
  outline: 0;
  outline: none;
}

.content-text p {
  margin: 0 0 28px 0;
}

img {
  border: none;
}

input {
  vertical-align: middle;
}

h1 {
  font-size: 54px;
  padding: 0 0 40px 0;
}

h2 {
  font-size: 28px;
  margin: 0 0 25px 0;
}

.clr {
  clear: both;
}

.clr-l {
  clear: left;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

span sup {
  text-decoration: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

/*
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, */
/*.container {display:block;}*/
.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.btn-grey-33,
.btn-blue-33,
.btn-green-33 {
  padding: 0 35px;
  height: 33px;
  line-height: 33px;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-grey-33 {
  background-repeat: repeat-x;
}
.btn-grey-33:hover {
  background-repeat: repeat-x;
}

.btn-green-33 {
  text-shadow: #209122 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-green-33:hover {
  background-repeat: repeat-x;
}

.btn-blue-33 {
  text-shadow: #165caa 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-blue-33:hover {
  background-repeat: repeat-x;
}

.btn-blue-52,
.btn-green-52 {
  padding: 0 40px;
  height: 52px;
  line-height: 52px;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-green-52 {
  text-shadow: #209122 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-green-52:hover {
  background-repeat: repeat-x;
}

.btn-blue-52 {
  text-shadow: #165caa 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-blue-52:hover {
  background-repeat: repeat-x;
}

.btn-blue-66,
.btn-green-66 {
  padding: 0 60px;
  height: 66px;
  line-height: 66px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-green-66 {
  text-shadow: #209122 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-green-66:hover {
  background-repeat: repeat-x;
}

.btn-blue-66 {
  text-shadow: #165caa 1px 1px 0;
  background-repeat: repeat-x;
}
.btn-blue-66:hover {
  background-repeat: repeat-x;
}

.btn-w270 {
  width: 200px;
}

.btn-w250 {
  width: 180px;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-width: 1235px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  background-color: #fff;
}

.width-wrap {
  width: 1225px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.wrapperPage {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.middle {
  padding-bottom: 290px;
}

.footer {
  height: 290px;
  margin: -290px 0 0 0;
  background: #f4fbfe;
  position: relative;
  z-index: 2;
}

.central {
  padding: 55px 0;
}

.sideLeft {
  position: relative;
  width: 210px;
  margin-right: -210px;
}

.sideRight {
  position: relative;
  width: 285px;
}

.container {
  width: 100%;
}

.column2l {
  padding-left: 220px;
}

.column2r {
  width: 915px;
  margin: 0 25px 0 0;
}

.content-wr {
  margin: 0 10px 0 0;
}

.map-block {
  padding-top: 115px;
  height: 280px;
  background: url(../images/map.jpg) no-repeat top center;
}
.map-block .info {
  width: 620px;
  margin: 0 auto 0 auto;
}
.map-block .info span {
  padding-bottom: 25px;
}
.map-block .btn-zakazhu {
  margin: 0 30px 0 0;
  padding: 0 25px 0 80px;
}
.map-block .btn-zakazhu:before {
  top: 50%;
  margin: -25px 0 0 -55px;
}
.map-block .btn-perevezu {
  padding: 0 50px 0 105px;
}
.map-block .btn-perevezu:before {
  top: 50%;
  margin: -22px 0 0 -70px;
}

.form div.radiobuttons-list label {
  padding-right: 30px;
}

.rating-stars {
  width: 64px;
  height: 13px;
}
.rating-stars .stars-empty {
  top: 0;
  left: 0;
  height: 100%;
  background: url(../images/star-empty.png) repeat-x;
  z-index: 1;
}
.rating-stars .stars-full {
  top: 0;
  left: 0;
  height: 100%;
  background: url(../images/star-full.png) repeat-x;
  z-index: 2;
  width: 10%;
}

.breadcrumbs {
  margin: 45px 0 20px 0;
}

.errorMessage {
  color: red;
  padding: 3px 0 0 0;
}

.stages-block {
  background-color: #f4fbfe;
  overflow: hidden;
  height: 244px;
  border-bottom: 1px solid #bbdceb;
}
.stages-block ul {
  left: 50%;
}
.stages-block li {
  right: 50%;
  margin: 65px 45px 0 45px;
  height: 165px;
}
.stages-block .stage1:before,
.stages-block .stage2:before {
  right: 0;
  top: 48px;
}
.stages-block .stage1 {
  width: 195px;
  padding: 0 55px 0 125px;
  background: url(../images/stage1.png) no-repeat left top;
}
.stages-block .stage2 {
  width: 195px;
  padding: 0 55px 0 115px;
  background: url(../images/stage2.png) no-repeat left top;
}
.stages-block .stage3 {
  width: 200px;
  padding: 0 0 0 75px;
  background: url(../images/stage3.png) no-repeat left top;
}
.stages-block .title {
  margin: 0 0 20px 0;
}

.statistic-block {
  height: 190px;
  background: url(../images/map.jpg) no-repeat top center;
  overflow: hidden;
}
.statistic-block ul {
  left: 50%;
}
.statistic-block li {
  right: 50%;
  margin: 55px 84px 0 84px;
}

.benefits-block {
  overflow: hidden;
  padding: 50px 0 90px 0;
}
.benefits-block .header {
  margin: 0 0 40px 0;
}
.benefits-block ul {
  left: 50%;
}
.benefits-block li {
  right: 50%;
  margin: 0 84px 0 84px;
  padding: 120px 0 0 0;
  width: 285px;
}
.benefits-block li:before {
  left: 50%;
  top: 0;
  margin-left: -45px;
}
.benefits-block li span {
  padding-bottom: 20px;
}

.requests-list-head {
  margin-bottom: 15px;
}
.requests-list-head .numb {
  margin-left: 50px;
}
.requests-list-head .info {
  margin-left: 41px;
}
.requests-list-head .addr {
  padding-left: 15px;
}
.requests-list-head .addr:before {
  top: -4px;
  left: 0;
}
.requests-list-head .from {
  margin-left: 83px;
}
.requests-list-head .to {
  margin-left: 106px;
}
.requests-list-head .date {
  width: 80px;
  margin: -8px 0 0 117px;
}
.requests-list-head .price {
  width: 90px;
  margin: -8px 0 0 80px;
}

.requests-list-item {
  border: 1px solid #b2daeb;
  padding: 25px 25px 20px 25px;
  margin: 0 0 10px 0;
}
.requests-list-item:hover {
  background-color: #f4fbfe;
}

.requests-list-item_number {
  padding: 52px 0 0 0;
  margin: 0 29px 0 0;
}
.requests-list-item_number:before {
  top: 0;
  left: 50%;
  margin-left: -20px;
}

.requests-list-item_info {
  margin-right: 50px;
  width: 151px;
}

.requests-list-item-info_url {
  padding-bottom: 5px;
}

.requests-list-item-info_descr {
  margin: 0 0 17px 0;
}

.requests-list-item-info_gruzchiki {
  height: 19px;
  line-height: 19px;
  padding: 0 0 0 22px;
}
.requests-list-item-info_gruzchiki:before {
  left: 0;
  top: 0;
}

.requests-list-item_to,
.requests-list-item_from {
  width: 145px;
  margin-right: 15px;
}
.requests-list-item_to span,
.requests-list-item_to a,
.requests-list-item_from span,
.requests-list-item_from a {
  padding-left: 25px;
}

.requests-list-item_from {
  height: 66px;
}

.requests-list-item_town {
  padding-bottom: 5px;
}

.requests-list-item_author {
  white-space: nowrap;
  bottom: 0;
}
.requests-list-item_author a {
  padding-left: 0;
}

.requests-list-item_price .btn-blue-33 {
  padding: 0 20px;
}

.requests-list-item_suggestions {
  margin-top: 34px;
}
.requests-list-item_suggestions .suggestion-orange,
.requests-list-item_suggestions .suggestion-green {
  padding: 2px 5px;
  margin-right: 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.requests-list-item_suggestions .suggestion-green {
  background-color: #8ccb45;
}
.requests-list-item_suggestions .suggestion-orange {
  background-color: #ffa100;
}

.requests-list-item-price_price {
  margin-bottom: 15px;
}

.counry-by {
  background: url(../images/flags/by.gif) no-repeat left center;
  height: 16px;
  line-height: 16px;
}

.requests-more-btn {
  border: 1px solid #b2daeb;
  padding: 10px 0 12px 0;
  background-color: #f4fbfe;
}

.requests1-list-head {
  margin: 20px 0 0 0;
}

.requests1-list-item {
  border: 1px solid #b2daeb;
  padding: 25px 25px 20px 25px;
  margin: 0 0 10px 0;
}
.requests1-list-item:hover {
  background-color: #f4fbfe;
}

.requests1-list-head-numb {
  margin: 0 34px 20px 45px;
}

.requests1-list-head-info {
  margin: 0 60px 20px 0;
}

.requests1-list-head-date {
  margin: 0 42px 20px 0;
}

.requests1-list-head-perevozchik {
  margin: 0 40px 20px 0;
}

.requests1-list-head-rating {
  width: 120px;
  margin: -10px 20px 20px 0;
}

.requests1-list-head-zakazchik {
  margin: 0 88px 20px 0;
}

.requests1-list-head-review {
  margin: 0 0 20px 0;
}

.requests1-list-item-numb {
  width: 50px;
  margin: 0 17px 0 0;
}

.requests1-list-item-info {
  width: 140px;
  margin: 0 23px 0 0;
}

.requests1-list-item-date {
  width: 65px;
  margin: 0 18px 0 0;
}

.requests1-list-item-perevozchik {
  width: 120px;
  margin: 0 15px 0 0;
}
.requests1-list-item-perevozchik a:before {
  right: -19px;
  top: 2px;
}

.requests1-list-item-rating {
  width: 66px;
  margin: 0 33px 0 0;
}

.requests1-list-item-zakazchik {
  width: 125px;
  margin: 0 25px 0 0;
}
.requests1-list-item-zakazchik a:before {
  right: -19px;
  top: 2px;
}

.requests1-list-item-review {
  width: 125px;
  padding: 0 0 0 35px;
}
.requests1-list-item-review span {
  border-bottom: 1px dotted #2e3c54;
}

.requests1-list-item-review-good:before {
  left: 0;
  top: 0;
}

.requests1-list-item-review-bad:before {
  left: 0;
  top: 0;
}

.last-requests .header {
  margin-bottom: 40px;
}

.radnom-reviews .header {
  margin-bottom: 39px;
}

.radnom-reviews-item-text {
  border-bottom: 1px dashed #b2daeb;
  padding: 0 0 30px 0;
  margin: 20px 0 30px 30px;
  line-height: 18px;
}
.radnom-reviews-item-text:before {
  top: 0;
  left: -20px;
}
.radnom-reviews-item-text .double-arrow-right {
  margin-top: 2px;
  margin-left: 7px;
}

.my-menu {
  background-color: #697f9a;
}

.my-menu-item {
  height: 130px;
  width: 149px;
  border-right: 1px solid #425770;
  padding-right: 20px;
}
.my-menu-item:hover {
  background-color: #425770;
  border-color: #425770;
}
.my-menu-item:last-of-type {
  border-right: none;
}

.my-menu-item-zayavki {
  padding-left: 87px;
  width: 137px;
}
.my-menu-item-zayavki:before {
  left: 24px;
  top: 26px;
}

.my-menu-item-transport {
  padding-left: 90px;
  width: 134px;
}
.my-menu-item-transport:before {
  left: 21px;
  top: 27px;
}

.my-menu-item-documents {
  padding-left: 87px;
  width: 137px;
}
.my-menu-item-documents:before {
  left: 28px;
  top: 26px;
}

.my-menu-item-info {
  padding-left: 71px;
  width: 153px;
}
.my-menu-item-info:before {
  left: 23px;
  top: 23px;
}

.my-menu-item-profile {
  padding-left: 75px;
  width: 149px;
}
.my-menu-item-profile:before {
  left: 18px;
  top: 22px;
}

.my-menu-url {
  margin: 21px 0 9px 0;
}

.my-page {
  margin: 30px 0 0 0;
}

.my-username {
  margin: 0 0 55px 0;
}

.my-rating-stars {
  width: 134px;
  height: 24px;
}

.my-rating-stars-empty {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/star-empty-big.png) repeat-x;
  z-index: 1;
}

.my-rating-stars-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/star-full-blue-big.png) repeat-x;
  z-index: 2;
  width: 70%;
}

.my-rating-container {
  height: 126px;
  padding: 22px;
  background: url(../images/rating-bg.jpg) no-repeat top center;
}
.my-rating-container .my-rating {
  margin: 0 0 15px 0;
}
.my-rating-container .my-rating .my-rating-stars {
  top: 0;
  right: 5px;
}

.my-rating-info > div {
  width: 90px;
}
.my-rating-info > div > span {
  padding: 5px 0 0 0;
}

.my-rating-age {
  margin: 12px 0 0 0;
}

.my-rating-info-block2 {
  margin: 0 0 0 40px;
}

.my-rewiews {
  padding: 15px 18px;
  border: 1px solid #b2daeb;
  border-top: none;
}

.my-rewiews-head {
  border-bottom: 1px solid #b2daeb;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

.my-rewiews-table td {
  padding: 6px 0;
}

.my-contact-info-company-edit .phones li {
  padding-left: 25px;
}
.my-contact-info-company-edit .phones li input[type="text"] {
  width: 174px;
}
.my-contact-info-company-edit .phones .field-title {
  padding: 0 0 0 25px;
}
.my-contact-info-company-edit .phones .field-title:before {
  left: 0;
}
.my-contact-info-company-edit .contacts {
  line-height: 20px;
}
.my-contact-info-company-edit .contacts li {
  padding-left: 70px;
  height: 20px;
}
.my-contact-info-company-edit .contacts li:before {
  left: 45px;
  top: 0;
}
.my-contact-info-company-edit .contacts li input[type="text"] {
  width: 247px;
}
.my-contact-info-company-edit .contacts .email {
  padding-left: 25px;
}
.my-contact-info-company-edit .contacts .email:before {
  left: 0;
  top: 1px;
}
.my-contact-info-company-edit .contacts .skype:before {
  top: -1px;
}
.my-contact-info-company-edit .contacts .website:before {
  top: -1px;
}
.my-contact-info-company-edit .my-contact-info-company-container ul {
  margin: 0 0 36px 0;
}
.my-contact-info-company-edit .my-contact-info-company-list:last-of-type {
  padding-right: 0;
}
.my-contact-info-company-edit .my-contact-info-company-list p {
  border-bottom: none;
}
.my-contact-info-company-edit .my-contact-info-company-list input[type="text"] {
  widows: 198px;
}
.my-contact-info-company-edit .my-contact-info-company-list .wide {
  width: 515px;
}
.my-contact-info-company-edit textarea {
  width: 97%;
  height: 90px;
}

.change-email-block .my-contact-info-container,
.change-password-block .my-contact-info-container {
  padding: 20px;
}
.change-email-block .narrow_bold_24,
.change-password-block .narrow_bold_24 {
  padding-bottom: 25px;
}
.change-email-block label,
.change-password-block label {
  padding: 0 0 5px 0;
}
.change-email-block .current-email,
.change-password-block .current-email {
  padding-bottom: 17px;
}
.change-email-block .row,
.change-password-block .row {
  margin: 0 0 20px 0;
}
.change-email-block input[type="email"],
.change-email-block input[type="password"],
.change-email-block input[type="text"],
.change-password-block input[type="email"],
.change-password-block input[type="password"],
.change-password-block input[type="text"] {
  width: 508px;
}

.change-email-block .my-contact-info-container {
  margin: 0 30px 0 0;
}

.change-password-block .my-contact-info-container {
  margin: 0 0 0 30px;
}

.my-top-menu {
  background-color: #8799ae;
}

.my-top-menu-item {
  width: 149px;
  height: 63px;
  background-color: #697f9a;
  border-right: 1px solid #5c7390;
  padding-right: 20px;
}
.my-top-menu-item.active, .my-top-menu-item:hover {
  background-color: #425770;
}
.my-top-menu-item.active:after, .my-top-menu-item:hover:after {
  content: '';
  left: 50%;
  bottom: 0;
  margin-left: -5px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.my-top-menu-item a {
  margin: 26px 0 0 0;
}

.my-top-menu-zayavki {
  padding-left: 87px;
  width: 137px;
}
.my-top-menu-zayavki:before {
  left: 24px;
  top: 17px;
}

.my-top-menu-transport {
  padding-left: 90px;
  width: 134px;
}
.my-top-menu-transport:before {
  left: 21px;
  top: 18px;
}

.my-top-menu-documents {
  padding-left: 87px;
  width: 137px;
}
.my-top-menu-documents:before {
  left: 28px;
  top: 17px;
}

.my-top-menu-info {
  padding-left: 71px;
  width: 153px;
}
.my-top-menu-info:before {
  left: 23px;
  top: 16px;
}
.my-top-menu-info a {
  margin-top: 14px;
}

.my-top-menu-profile {
  padding-left: 75px;
  width: 149px;
}
.my-top-menu-profile:before {
  left: 18px;
  top: 15px;
}
.my-top-menu-profile a {
  margin-top: 14px;
}

.my-contact-info-container {
  border: 1px solid #b2daeb;
}
.my-contact-info-container .btn-w250 {
  top: 20px;
  right: 20px;
}

.my-contact-info-header {
  margin: 0 0 25px 0;
}

.my-contact-info-list {
  display: table-row;
}
.my-contact-info-list li {
  width: 230px;
  display: table-cell;
}
.my-contact-info-list p {
  height: 19px;
  line-height: 18px;
  padding: 0 0 10px 25px;
}
.my-contact-info-list p:before {
  top: 0;
  left: 0;
}
.my-contact-info-list .email:before {
  top: 3px;
}

.my-contact-info-container-wr {
  padding: 20px;
}

.my-contact-info-company {
  background-color: #f4fbfe;
}

.my-contact-info-company-container {
  margin: 0 0 35px 0;
}

.my-contact-info-company-list {
  min-width: 410px;
  padding: 0 20px 0 0;
}
.my-contact-info-company-list li {
  min-width: 410px;
  height: 32px;
  display: table-row;
}
.my-contact-info-company-list p {
  width: 205px;
  display: table-cell;
  border-bottom: 1px solid #b2daeb;
  line-height: 32px;
  white-space: nowrap;
}

.my-contact-info-descr {
  width: 850px;
  line-height: 18px;
}

/* ╨и╨░╨┐╨║╨░ ╤Б╨░╨╣╤В╨░ */
.header-row1 {
  background-color: #f3fbff;
  border-bottom: 1px solid #bbdceb;
  padding: 10px 0 15px 0;
}

.header-row1-menu li {
  height: 25px;
  line-height: 25px;
  margin: 0 60px 0 0;
}
.header-row1-menu .contacts {
  margin-right: 90px;
}
.header-row1-menu .gruzodatel:before,
.header-row1-menu .perevozchik:before {
  top: 50%;
  margin-top: -9px;
}
.header-row1-menu .gruzodatel {
  border-left: 1px solid #53aae2;
  padding-left: 70px;
}
.header-row1-menu .gruzodatel:before {
  left: 48px;
}
.header-row1-menu .perevozchik {
  border-right: 1px solid #53aae2;
  padding-right: 70px;
}
.header-row1-menu .perevozchik:before {
  left: -22px;
}
.header-row1-menu .logout,
.header-row1-menu .profile,
.header-row1-menu .login,
.header-row1-menu .reg {
  margin-right: 0;
}
.header-row1-menu .login:before {
  top: 7px;
  left: -10px;
}
.header-row1-menu .logout a {
  overflow: hidden;
  text-indent: 7777px;
  white-space: nowrap;
  width: 8px;
  height: 14px;
  margin-top: 8px;
}
.header-row1-menu .logout a:before {
  top: 0;
  left: 0;
}
.header-row1-menu .profile:before {
  top: 8px;
  left: -15px;
}
.header-row1-menu .separator {
  margin: 0 15px;
}

.header-row2 {
  padding: 20px 0 25px 0;
}
.header-row2 .buttons-block {
  margin: 8px 0 0 135px;
}
.header-row2 .btn-zakazhu {
  margin: 0 5px 0 0;
  padding: 0 25px 0 40px;
}
.header-row2 .btn-zakazhu:before {
  top: 50%;
  margin-top: -8px;
  margin-left: -20px;
}
.header-row2 .btn-perevezu {
  padding: 0 36px 0 56px;
}
.header-row2 .btn-perevezu:before {
  top: 50%;
  margin-top: -9px;
  margin-left: -25px;
}
.header-row2 .btn-zakazhu-270,
.header-row2 .btn-perevezu-270 {
  width: 270px;
}
.header-row2 .questions {
  margin-top: 18px;
}
.header-row2 .questions .title {
  padding: 0 25px 0 0;
}

/* ╨д╤Г╤В╨╡╤А */
.footer > div {
  padding-top: 60px;
}
.footer .questions {
  margin: 5px 0 0 99px;
}
.footer .created-by {
  font-size: 14px;
  line-height: 42px;
  margin: 20px 0 0 0;
}
.footer .created-by a:visited,
.footer .created-by a:hover,
.footer .created-by a {
  color: inherit;
}
.footer .created-by a {
  height: 30px;
  right: 0;
  top: 0;
  padding-left: 30px;
  line-height: 42px;
}
.footer .created-by a:before {
  left: 5px;
  top: 0;
}

.footer-cell {
  margin-right: 110px;
  height: 200px;
}
.footer-cell li {
  margin-bottom: 10px;
}

.footer-cell-last {
  margin-right: 0;
}
.footer-cell-last .login:before {
  top: 2px;
  left: -10px;
}
.footer-cell-last .logout a {
  overflow: hidden;
  text-indent: 7777px;
  white-space: nowrap;
  width: 8px;
  height: 14px;
  margin-top: 2px;
}
.footer-cell-last .logout a:before {
  top: 0;
  left: 0;
}
.footer-cell-last .profile:before {
  top: 2px;
  left: -15px;
}
.footer-cell-last .separator {
  margin: 0 15px;
}
