.bid-detail-number {
	margin: -35px 0 40px 0; 
}


.bid-detail-route-block {
	.route-town {
		&:before {
			left: -20px;
			top: 0;
			
			@extend .ico-addr;
		}
	}
	
	.route-item {		
		.route-item-arrow {
			min-width: 58px;
			height: 35px;
			padding-right: 25px;
						
			&:before {
				left: 0;
				top: 20px;
				@extend .ico-route-arrow;
			}
		}
	}
	
}

.bid-detail-route-list {
	width: 1050px;
}


.bid-detail-date {
	@extend %font_16;
	@extend %bold;
}

.bid-detail-date-quickly {
	
	@extend %for_sprite;
	
	&:before {
		left: 15px;
		top: 0;
		
		
		@extend .ico-quickly;
	}
}

.bid-detail-date-quickly-val {
	margin-top: 10px;
	
	@extend %c_ffa100;
	@extend %db;
	@extend %normal;
	@extend %font_14;
}

.bid-detail-price {
	@extend %pos_rel;
	&:before {
		left: 14px;
		top: 0;
		
		@extend %for_sprite;
		@extend .ico-money;
	}
	
}

.bid-detail-date,
.bid-detail-price {
	padding-left: 60px;
	margin-bottom: 30px;
}

.bid-detail-respond-btn {
	padding-left: 75px;
	

	@extend %for_sprite;
	
	&:before {
		left: 30px;
		top: 50%;
		margin-top: -16px;
		
		
		@extend .ico-ptica-big;
	}	
	
}

.bid-detail-cargo-listitem {
	padding-left: 60px;
	margin-bottom: 45px;
	
	
	//@extend %for_sprite;
	
	&:before {
		left: 0;
		top: 0;
	}
}

.cargo_foto_detail {
	@extend .cargo_foto;
	
	left: -5px;
}

.bid-detail-cargo-listitem-cat-2:before {
	@extend .catn-c2-b;
}

.bid-detail-cargo-listitem-porters {
	min-height: 40px;
	
	@extend %for_sprite;
	
	&:before {
		left: -53px;
		top: -3px;
		
		@extend .ico-girya-big;
	}	
}

.bid-detail-cargo-listitem-comment {
	margin-left: -45px;
}

.bid-detail-notice-blue {
	line-height: 22px;
}

.reject-deal-btn {
	overflow: hidden;
	text-indent: 777px;
	right: 15px;
	top: 50%;
	margin-top: -14px;
	
	@extend %dib;
	@extend %pos_abs;
	
}

.bid-detail-deals-profile-link {
	
	&:after {
		content: '';
		
		left: 0;
		top: 0;
		
		@extend %pos_abs;
		@extend .ico-car3;
	}
}

.bid-detail-deals-row {
	&.active,
	&:hover {
		background-color: #f4fbfe;
	}
	
}

.bid-detail-deals-row-inactive:hover {
	background-color: transparent;
}

.bid-detail-deals-row-wr {
	& > div {
		min-height: 50px;
	}
	
}

.bid-detail-deals-head > p {
	border: none;
}

.bid-detail-deals-row-answer-block-reviews {
	border: 1px solid #b2daeb;
	border-top: none;
	height: auto;
	padding: 0;
}


.bid-detail-deals-col1 {
//	border-left: 1px solid #b2daeb;
	width: 35px;
}

.bid-detail-deals-col2 {
	width: 160px;
}

.bid-detail-deals-col3 {
	width: 230px;
}

.bid-detail-deals-col4 {
	width: 338px;
}

.bid-detail-deals-col5 {
	width: 100px;
}

.bid-detail-deals-col6 {
//	border-right: 1px solid #b2daeb;
	width: 180px;
	
	@extend %pos_rel;
	
	.accept-deal-btn {
		left: 15px;
		top: 50%;
		margin-top: -16px;
		
		padding-left: 50px;
		
		@extend %for_sprite;
		@extend %pos_abs;
		
		&:before {
			left: 25px;
			top: 50%;
			margin-top: -10px;
			
			@extend .ico-ptica;
		}
	}
}

.bid-detail-deals-row-empty {
	height: 10px;
}

/*
.bid-detail-deals-row-answer-block-reviews-cell1,
.bid-detail-deals-row-answer-block-reviews-cell2 {
	padding: 15px;
}
*/

.bid-detail-deals-row-answer-block-reviews-cell1 {
	padding-left: 65px;
	width: 160px;
}

.bid-detail-deals-row-answer-block-reviews-cell2 {
	width: 920px;
}
.bid-detail-deals-row-answer-block-comment {
	border-top: 1px solid #b2daeb;
}

.bid-detail-send-comment-btn {
	right: 15px;
}

.show-deals-comments {
	/* @extend %db; */
	@extend %pos_abs;
	@extend %c_85bf32;
	@extend %font_24;
	@extend %pointer;
	
	bottom: 5px;
	left: 50%;
	margin-left: -13px;
}

.bid-detail-deals-row:hover .show-deals-comments {
	@extend %db;
}

.bid-detail-deals-row-inactive:hover .show-deals-comments {
	@extend %hide;
}

.deal-set-transport {
	@extend %fl;
	
	width: 135px;
}
.deal-transport-item {
	@extend %pos_rel;
	@extend %text_r;
	@extend %fr;
	
	width: 130px;
	overflow: hidden;
	padding: 0;
	
	.name {
		@extend %pos_abs;
		@extend %text_l;
		
		@include border-radius(3px 0 0 3px);
		
		padding: 0 10px;
		background-color: #85bf32;
		left: 0;
		bottom: 0;
		width: 85px;
		height: 95%;
		text-shadow: none;
	}	
	.ico {
		@extend %normal;
		@extend %font_24;
		
		font-family: Tahoma, Arial;
		padding-right: 3px;
		
	}
}


.deal-set-transport,
.deal-transport-item {
	margin-top: 24px;
}

.deal-porters-wr {
	width: 324px;
}

#Deals_porters-styler {
	background-color: #fff;
}

.deal-porters-checkbox {
	@extend %pos_abs;
	
	right: 0;
	bottom: -3px;
	width: 130px;
}

.deals-form-transport-list {
	top: 56px;
	z-index: 7;
	background-color: #536882;
	width: 435px;
	
}

.deals-form-transport-list-item {
	&:focus,
	&:hover {
		@extend %c_fff;
	}
}

.deals_price {
	width: 320px;
}

.deals-inactive-cell {
	height: 100%;
	top: 0;
	left: 0;
	background: url(../images/deals-inactive-cell.png);
	z-index: 10;
}

.deal-btn {
	width: 180px;
	padding: 0;
	
	.name {
		@include border-radius(3px 0 0 3px);
		
		left: 0;
		bottom: 0;
		height: 95%;
		text-shadow: none;
		min-width: 117px;
	}
	
	.ico {
		padding-right: 7px;
		
		&:focus,
		&:hover {
			@extend %c_fff;
			@extend %underline_n_n;
		}
		
	}
}

.bid-view-rating {
	margin-top: 2px;
}

.update-bid,
.cancel-bid {
	top: 15px;
}

.cancel-bid {
	right: 0;
}

.update-bid {
	right: 170px;
}

.bid-view-hdr {
	max-width: 860px;
}

