.bid-detail-number {
	margin: -40px 0 40px 0; 
	
	@extend %font_23;
	@extend %pt_sans_narrow_bold;
}


.bid-detail-route-block {
	margin-bottom: 30px;
	
	li {
		@extend %fl;
	}
	
	.route-town {
		padding-left: 20px;
		margin-left: 20px;
		margin-bottom: 5px;
		
		@extend %for_sprite;
		@extend %bold;
		
		&:before {
			left: -20px;
			top: 0;
			
			@extend .ico-addr;
		}
	}
	
	.route-item {
		margin-left: 40px;
		
		@extend %dtr;
		
		& > div {
			@extend %dtc;
		}
		
		.route-item-arrow {
			min-width: 58px;
			height: 35px;
			padding-right: 25px;
			
			@extend %for_sprite;
			
			&:before {
				left: 0;
				top: 20px;
				@extend .ico-route-arrow;
			}
		}
	}
	
}


.bid-detail-date {
	@extend %font_16;
	@extend %bold;
}

.bid-detail-date-quickly {
	
	@extend %for_sprite;
	
	&:before {
		left: 15px;
		top: 0;
		
		
		@extend .ico-quickly;
	}
}

.bid-detail-date-quickly-val {
	margin-top: 10px;
	
	@extend %c_ffa100;
	@extend %db;
	@extend %normal;
	@extend %font_14;
}

.bid-detail-price {
	@extend %pos_rel;
	&:before {
		left: 14px;
		top: 0;
		
		@extend %for_sprite;
		@extend .ico-money;
	}
	
}

.bid-detail-price-wr {
	margin-top: 5px;
	
	@extend %font_24;
	@extend %bold;
	@extend %db;
}

.bid-detail-date,
.bid-detail-price {
	padding-left: 60px;
	margin-bottom: 30px;
}

.bid-detail-respond-btn {
	padding-left: 90px;
	

	@extend %for_sprite;
	
	&:before {
		left: 45px;
		top: 50%;
		margin-top: -16px;
		
		
		@extend .ico-ptica-big;
	}	
	
}

.bid-detail-cargo-listitem {
	padding-left: 60px;
	margin-bottom: 45px;
	
	
	@extend %for_sprite;
	
	&:before {
		left: 0;
		top: 0;
	}
}

.bid-detail-cargo-listitem-cat-2:before {
	@extend .catn-c2-b;
}

.bid-detail-cargo-listitem-row {
	margin-bottom: 20px;
}

.bid-detail-cargo-listitem-cargo-name {
	margin-bottom: 5px;
	
	@extend %bold;
}


.bid-detail-cargo-listitem-porters {
	min-height: 40px;
	
	@extend %for_sprite;
	
	&:before {
		left: -53px;
		top: 0;
		
		@extend .ico-girya-big;
	}	
}

.bid-detail-cargo-listitem-comment {
	margin-left: -45px;
	
	@extend %lh_18;
}

.bid-detail-notice-blue {
	line-height: 22px;
}

.reject-deal-btn {
	overflow: hidden;
	text-indent: 777px;
	right: 15px;
	top: 50%;
	margin-top: -14px;
	
	@extend %dib;
	@extend %pos_abs;
	
}

.bid-detail-deals-profile-link {
	padding-left: 20px;
	
	&:after {
		content: '';
		
		left: 0;
		top: 0;
		
		@extend %pos_abs;
		@extend .ico-car3;
	}
}

.bid-detail-deals-row {
	&.active,
	&:hover {
		background-color: #f4fbfe;
	}
	
	& > div {
		border-top: 1px solid #b2daeb;
		border-bottom: 1px solid #b2daeb;
		height: 50px;
	}
}

.bid-detail-deals-head > p {
	border: none;
}

.bid-detail-deals-row > .bid-detail-deals-row-answer-block-reviews {
	border-top: none;
	border-left: 1px solid #b2daeb;
	border-right: 1px solid #b2daeb;
	height: auto;
	padding: 0;
}

.bid-detail-deals-row-answer-block-comment,
.bid-detail-deals-row-answer-block-reviews-wr,
.bid-detail-deals-row > div,
.bid-detail-deals-head > p {
	padding: 15px;
}

.bid-detail-deals-col1 {
	border-left: 1px solid #b2daeb;
	width: 35px;
}

.bid-detail-deals-col2 {
	width: 160px;
}

.bid-detail-deals-col3 {
	width: 230px;
}

.bid-detail-deals-col4 {
	width: 338px;
}

.bid-detail-deals-col5 {
	width: 100px;
}

.bid-detail-deals-col6 {
	border-right: 1px solid #b2daeb;
	width: 180px;
	
	@extend %pos_rel;
	
	.accept-deal-btn {
		left: 15px;
		top: 50%;
		margin-top: -16px;
		
		padding-left: 50px;
		
		@extend %for_sprite;
		@extend %pos_abs;
		
		&:before {
			left: 25px;
			top: 50%;
			margin-top: -10px;
			
			@extend .ico-ptica;
		}
	}
}

.bid-detail-deals-row-empty {
	height: 10px;
}

.bid-detail-deals-row-answer-block-reviews-cell1,
.bid-detail-deals-row-answer-block-reviews-cell2 {
	padding: 15px;
}

.bid-detail-deals-row-answer-block-reviews-cell1 {
	padding-left: 65px;
	width: 160px;
}

.bid-detail-deals-row-answer-block-comment {
	border-top: 1px solid #b2daeb;
	background-color: #daf0fa;
	
	@extend %pos_rel;
}

.bid-detail-send-comment-btn {
	
	right: 15px;
	
	/* @extend %pos_abs; */
}




