
.narrow-regular-16 {
	@extend %pt_sans_narrow_regular;
	@extend %font_16;
}

.narrow-regular-18 {
	@extend %pt_sans_narrow_regular;
	@extend %font_18;
}

.narrow-regular-20 {
	@extend %pt_sans_narrow_regular;
	@extend %font_20;
}

.narrow-regular-24 {
	@extend %pt_sans_narrow_regular;
	@extend %font_24;
}

.narrow-regular-28 {
	@extend %pt_sans_narrow_regular;
	@extend %font_28;
}

.narrow-regular-30 {
	@extend %pt_sans_narrow_regular;
	@extend %font_30;
}

.narrow-regular-36 {
	@extend %pt_sans_narrow_regular;
	@extend %font_36;
}


.narrow-bold-18 {
	@extend %pt_sans_narrow_bold;
	@extend %font_18;
}

.narrow-bold-23 {
	@extend %pt_sans_narrow_bold;
	@extend %font_23;
}

.narrow-bold-24 {
	@extend %pt_sans_narrow_bold;
	@extend %font_24;
}

.profile-link {
	//@extend %c_1e91da;
	@extend %font_12;
	@extend %for_sprite;

	&:before {
		right: -19px;
		top: 2px;

		@extend .ico-info;
	}
}

.for_sprite { @extend %for_sprite; };

.normal { @extend %normal; }

.capitalize { text-transform: capitalize; }

.arial { @extend %arial; }


.font-10 { @extend %font_10; }
.font-11 { @extend %font_11; }
.font-12 { @extend %font_12; }
.font-13 { @extend %font_13; }
.font-16 { @extend %font_16; }
.font-17 { @extend %font_17; }
.font-20 { @extend %font_20; } 
.font-22 { @extend %font_22; } 
.font-24 { @extend %font_24; } 
.font-32 { @extend %font_32; } 

.c_0a80cb { @extend %c_0a80cb; }
.c_1e91da { @extend %c_1e91da; }
.c_2e3c54 { @extend %c_2e3c54; }
.c_697f9a { @extend %c_697f9a; }
.c_71a72c { @extend %c_71a72c; }
.c_757575 { @extend %c_757575; }
.c_8ec0d6 { @extend %c_8ec0d6; }
.c_8e95a1 { @extend %c_8e95a1; }
.c_96a5b8 { @extend %c_96a5b8; &:hover {@extend %c_96a5b8;}}
.c_aab1ba { @extend %c_aab1ba; }
.c_c3c8cd { @extend %c_c3c8cd; }
.c_cbe0eb { @extend %c_cbe0eb; }
.c_d0daea { @extend %c_d0daea; }
.c_eb4c4c { @extend %c_eb4c4c; }
.c_fcb60e { @extend %c_fcb60e; }
.c_fff { @extend %c_fff; }

a.c_71a72c, a.c_71a72c:hover, a.c_71a72c:focus { @extend %c_71a72c; }

.tahoma { font-family: Tahoma, Arial; }

.underline_y_n { @extend %underline_y_n; }
.underline_n_y { @extend %underline_n_y; }
.underline_n_n { @extend %underline_n_n; }

.dib { @extend %dib; }
.di { @extend %di; }
.db { @extend %db; }
.dt { @extend %dt; }
.dtr { @extend %dtr; }
.dtc { @extend %dtc; }

.pos-rel { @extend %pos_rel; }
.pos-abs { @extend %pos_abs; }

.text_c { @extend %text_c; }
.text_r { @extend %text_r; }
.text_l { @extend %text_l; }

.table { @extend %dt; }

.table-row { @extend %dtr; }

.table-cell { @extend %dtc; }

.m-0-5 { margin: 0 5px; }
.m-0-15 { margin: 0 15px; }
.m-0-20 { margin: 0 20px; }

.m-20-0 { margin: 20px 0; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-40 { margin-left: 40px; }


.p-0 { padding: 0; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }
.p-30 { padding: 30px; }

.p-0-5 { padding: 0 5px; }
.p-0-10 { padding: 0 10px; }
.p-0-15 { padding: 0 15px; }
.p-0-20 { padding: 0 20px; }

.p-20-0 { padding: 20px 0; }

.p-10-0 { padding: 10px 0; }

.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-25 { padding-top: 25px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }

.pr-0 { padding-right: 0; }
.pr-5 { padding-right: 5px; }
.pr-20 { padding-right: 20px; }

.pl-0 { padding-left: 0; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }

.lh-34 { line-height: 34px; }
.lh-18 { @extend %lh_18; }

.blue-border-1 { border: 1px solid #b2daeb; }
.blue-border-top-1 { border-top: 1px solid #b2daeb; }

.bg_33a72c {background-color: #33a72c; }
.bg_425770 {background-color: #425770; }
.bg_697f9a {background-color: #697f9a; }
.bg_85bf32 {background-color: #85bf32; }
.bg_abbbcf {background-color: #abbbcf; }
.bg_daf0fa {background-color: #daf0fa; }
.bg_de5151 {background-color: #de5151; }
.bg_f3fbff {background-color: #f3fbff; }
.bg_f4fbfe_h:hover,.bg_f4fbfe {background-color: #f4fbfe; }

.bg_fff {background-color: #fff; }

.bb-dotted-1 { border-bottom: 1px dotted #1e91da; }
.bb-dotted-1-h { @extend .bb-dotted-1; &:hover { border-bottom: none; } }

.bb-dotted-2 { border-bottom: 1px dotted #71a72c; }
.bb-dotted-2-h { @extend .bb-dotted-2; &:hover { border-bottom: none; } }

.bb-dotted-3 { border-bottom: 1px dotted #96a5b8; }
.bb-dotted-3-h { @extend .bb-dotted-3; &:hover { border-bottom: none; } }

.bb-dotted-4 { border-bottom: 1px dotted #1e90d9; }
.bb-dotted-4-h { @extend .bb-dotted-4; &:hover { border-bottom: none; } }

.bb-dotted-5 { border-bottom: 1px dotted #0a80cb; }
.bb-dotted-5-h { @extend .bb-dotted-5; &:hover { border-bottom: none; } }

.br-none { border-right: none; }

.ov-hidden { overflow: hidden;}

.hide-text { overflow: hidden;text-indent: 7777px; }

.border-box	{ @extend %border_box; }

.pointer { @extend %pointer; }

.v-middle{ vertical-align: middle; }