@font-face {
    font-family: 'ptsans-narrow-bold';
    src: url('../../../fonts/PT_Sans-Narrow-Bold.eot');
    src: url('../../../fonts/PT_Sans-Narrow-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/PT_Sans-Narrow-Bold.woff') format('woff'),
         url('../../../fonts/PT_Sans-Narrow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ptsans-narrow-regular';
    src: url('../../../fonts/PT_Sans-Narrow-Regular.eot');
    src: url('../../../fonts/PT_Sans-Narrow-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/PT_Sans-Narrow-Regular.woff') format('woff'),
         url('../../../fonts/PT_Sans-Narrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;

	@extend %c_000;
}

.jq-selectbox__select,
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
.inputbox,
textarea {
  outline: none;
}

input[type="text"],
input[type="password"],
.inputbox,
textarea {
	border: 1px solid #c5d2e3;
	padding: 2px 15px;
	
	&:focus {
		border-color: #96a7bd;
	}
	
	&.error {
		border-color: #de5151;
	}
}


a {
	outline: none;
	
	
	@extend %underline_y_n;
	@extend %c_0a80cb;
	
	&:hover {
		@extend %c_2d9ae0;
	}
	
	&:visited {
		@extend %c_70a3c4;
	}
}

li {
	list-style: none;
}

a:active, 
a:focus, 
img { 
	outline: 0; 
	outline:none; 
}

.content-text p {
	margin: 0 0 28px 0;
}

img {
	border: none;
}

input {
	vertical-align: middle;
}


h1 {
	font-size: 32px;
	margin: 0 0 20px 0;
	
	@extend %bold;
}

h2 {
	font-size: 28px;
	margin: 0 0 25px 0;
	
	@extend %bold;
	@extend %c_000;
	@extend %uppercase;
	
}

h3 {
	@extend %bold;
	@extend %font_19;
}

.clr{clear:both;}
.clr-l{clear:left;}
.inner{width:1000px; margin:0 auto;}
span sup{text-decoration:none;}

.clearfix {
	@include pie-clearfix;
}

.clear{clear:both;}
/*
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, */
/*.container {display:block;}*/

.fLeft {
	@extend %fl;
}

.fRight	{
	@extend %fr;
}

.hidden {
	@extend %hide;
}

.width25 {
	width: 25%;
}

.width50 {
	width: 50%;
}


.btn-blue-33,
.btn-green-33,
.btn-blue-66,
.btn-green-66,
.btn-blue-52,
.btn-green-52 {
	&:visited {
		@extend %c_fff;
	}
}

.btn-blue-33,
.btn-green-33 {
	padding: 0 35px;
	height: 33px;
	line-height: 33px;
	
	@include border-radius(3px);	
	
	@extend %dib;
	@extend %font_14;
	@extend %uppercase;
	@extend %c_fff;
	@extend %underline_n_n;
	@extend %pt_sans_narrow_bold;
	
	&:hover {
		@extend %c_fff;
	}
}


.btn-green-33 {
	@include text-shadow(#209122 1px 1px 0);	
	@extend .btns-green-33;
	background-repeat: repeat-x;
	&:hover {
		@extend .btns-green-33-h;
		background-repeat: repeat-x;
	}
}

.btn-blue-33 {
	@include text-shadow(#165caa 1px 1px 0);
	@extend .btns-blue-33;
	background-repeat: repeat-x;
	&:hover {
		@extend .btns-blue-33-h;
		background-repeat: repeat-x;
	}
}


.btn-blue-52,
.btn-green-52 {
	padding: 0 40px;
	height: 52px;
	line-height: 52px;
	
	@include border-radius(3px);	
	
	@extend %dib;
	@extend %font_14;
	@extend %uppercase;
	@extend %c_fff;
	@extend %underline_n_n;
	@extend %pt_sans_narrow_bold;
	
	&:hover {
		@extend %c_fff;
	}
}


.btn-green-52 {
	@include text-shadow(#209122 1px 1px 0);	
	@extend .btns-green-52;
	background-repeat: repeat-x;
	&:hover {
		@extend .btns-green-52-h;
		background-repeat: repeat-x;
	}
}

.btn-blue-52 {
	@include text-shadow(#165caa 1px 1px 0);
	@extend .btns-blue-52;
	background-repeat: repeat-x;
	&:hover {
		@extend .btns-blue-52-h;
		background-repeat: repeat-x;
	}
}


.btn-blue-66,
.btn-green-66 {
	padding: 0 60px;
	height: 66px;
	line-height: 66px;
	
	@include border-radius(3px);	
	
	@extend %dib;
	@extend %font_24;
	@extend %uppercase;
	@extend %c_fff;
	@extend %underline_n_n;
	@extend %pt_sans_narrow_bold;
	
	&:hover {
		@extend %c_fff;
	}
}


.btn-green-66 {
	@include text-shadow(#209122 1px 1px 0);	
	@extend .btns-green-66;
	background-repeat: repeat-x;
	&:hover {
		@extend .btns-green-66-h;
		background-repeat: repeat-x;
	}
}

.btn-blue-66 {
	@include text-shadow(#165caa 1px 1px 0);
	@extend .btns-blue-66;
	background-repeat: repeat-x;
	&:hover {
		@extend .btns-blue-66-h;
		background-repeat: repeat-x;
	}
}


.width-wrap {
	width: 1225px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 5px 0 5px
}

.wrapper {
	height: 100%;
	width: 100%;
	min-width: 1235px;
	margin: 0;
	padding: 0;	
}

.wrapperPage {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #fff;
}

.middle {
  padding-bottom: 290px;
}

.footer {
	height: 290px;
	margin: -290px 0 0 0;
	background: #f4fbfe;
	position: relative;
	z-index: 2;
}

.central {
  padding: 55px 0;
}


.sideLeft {
  @extend %fl;
  position: relative;
  width: 210px;
  margin-right: -210px;
}


.sideRight {
	position: relative;
	width: 285px;
	
	@extend %fl;	
}

.container {
  @extend %fl;
  width: 100%;
}

.column2l {
  padding-left: 220px;
}

.column2r {
	width: 915px;
	margin: 0 25px 0 0;
	@extend %fl;
}

.content-wr {
  margin: 0 10px 0 0;
}


.pagination {
	
}

.map-block {
	padding-top: 115px;
	height: 280px;
	background: url(../images/map.jpg) no-repeat top center;
	
	.info {
		width: 620px;
		
		margin: 0 auto 0 auto;
		
		@extend %text_c;
		
		span {
			padding-bottom: 25px;
			@extend %pt_sans_narrow_bold;
			@extend %font_48;
			@extend %c_fff;
			@extend %db;
		}
	}
	
	.btn-zakazhu {
		margin: 0 30px 0 0;
		padding: 0 25px 0 80px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin: -25px 0 0 -55px;
			
			@extend .ico-gruz-big;
		}
	}
	
	.btn-perevezu {
		padding: 0 50px 0 105px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin: -22px 0 0 -70px;
			
			@extend .ico-zoom-big;
		}
	}
}

.form div.radiobuttons-list {
	input,
	label {
		@extend %di
	}
	
	label {
		padding-right: 30px;
	}
}