@charset "UTF-8";

@font-face {
    font-family: 'ptsans-narrow-bold';
    src: url('../../../fonts/PT_Sans-Narrow-Bold.eot');
    src: url('../../../fonts/PT_Sans-Narrow-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/PT_Sans-Narrow-Bold.woff') format('woff'),
         url('../../../fonts/PT_Sans-Narrow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ptsans-narrow-regular';
    src: url('../../../fonts/PT_Sans-Narrow-Regular.eot');
    src: url('../../../fonts/PT_Sans-Narrow-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/PT_Sans-Narrow-Regular.woff') format('woff'),
         url('../../../fonts/PT_Sans-Narrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    -khtml-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;

	@extend %c_2e3c54;
}

.jq-selectbox__select,
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
.inputbox,
button,
textarea {
  outline: none;
}

input[type="text"],
input[type="password"],
.inputbox,
textarea {
	border: 1px solid #c5d2e3;
	padding: 5px 7px;
	
	@include border-radius(3px);
	
	@extend %font_14;
	@extend %c_2e3c54;
	@extend %border_box;
	
	&:focus {
		border-color: #96a7bd;
		@include box-shadow(0px 0px 1px 1px #96a7bd);
	}
	
	&.error {
		border-color: #de5151;
	}
}

input[type="file"] {
    @extend %pointer;
} 

label.error {
	@extend %c_de5151;
}

a {
	outline: none;
	
	
	@extend %underline_y_n;
	@extend %c_0a80cb;
	
	&:hover {
		@extend %c_2d9ae0;
	}
	/*
	&:visited {
		@extend %c_70a3c4;
	}
	*/
}

li {
	list-style: none;
}

a:active, 
a:focus, 
img { 
	outline: 0; 
	outline:none; 
}

.content-text p {
	margin: 0 0 28px 0;
}

img {
	border: none;
}

input {
	vertical-align: middle;
}


h1 {
	font-size: 54px;
	padding: 0 0 40px 0;
	
	@extend %pt_sans_narrow_bold;
	@extend %bold;
	@extend %c_2e3c54;
    
    span {
        @extend %c_8093a9;
        @extend %font_46;
        @extend %pt_sans_narrow_regular;
    }
}

h2 {
	font-size: 28px;
	margin: 0 0 25px 0;
	
	@extend %bold;
	@extend %c_000;
	@extend %uppercase;
	
}

h3 {
	@extend %bold;
	@extend %font_19;
}

b,
strong,
.bold{
    @extend %bold;
}

i,
.italic {
	@extend %italic;
}

label {
	@extend %c_697f9a;
}

.checkbox-lbl {
	
	@extend %underline_y_n;
}

.lbl-block {
	margin-bottom: 15px;
	
	@extend %db;
	@extend %bold;
}

span.required {
	color: red;
}

.narrow_bold_24 {
	@extend %pt_sans_narrow_bold;
	@extend %bold;
	@extend %font_24;
}

.clr{clear:both;}
.clr-l{clear:left;}
.inner{width:1000px; margin:0 auto;}
span sup{text-decoration:none;}

.clearfix {
	@include pie-clearfix;
}

.clear{clear:both;}
/*
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, */
/*.container {display:block;}*/

.fLeft {
	@extend %fl;
}

.fRight	{
	@extend %fr;
}

.hide-block,
.hidden {
	@extend %hide;
}

.width25 {
	@extend %w_25;
}

.width33 {
	@extend %w_33;
}

.width50 {
	@extend %w_50;
}

.width100 {
	@extend %w_100;
}

.text-align-center {
	@extend %text_c;
}

.form-row {
	margin-bottom: 20px;
}

.dimensions-separator {
	padding: 0 5px;
}

.dimentions {
	.inputbox {
		/* width: 47px; */
		width: 49px;
	}
}

//.success { color: green; }
//.error { color: red; }

//input[name="userfile"] {
//	display: block !important;
//	margin-top: -40px !important;
//}


html,
body {
  height: 100%;
}

.wrapper {
	min-width: 1235px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	background-color: #fff;
}




.width-wrap {
	width: 1225px;
	margin: 0 auto;
//	overflow: hidden;
	
}

.wrapperPage {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.middle {
  padding-bottom: 290px;
}

.footer {
	height: 290px;
	margin: -290px 0 0 0;
	background: #f4fbfe;
	position: relative;
	z-index: 2;
}

.central {
  padding: 25px 0 55px 0;
}

.central-main-page {
  padding: 55px 0;
}


.sideLeft {
	position: relative;
	width: 285px;
	@extend %fl;	
}


.sideRight {
	position: relative;
	width: 285px;
	
	@extend %fl;	
}

.row,
.container {
  @extend %border_box;
}

.column2l {
	width: 915px;
	margin: 0 0 0 25px;
	@extend %fl;
}

.column2r {
	width: 915px;
	margin: 0 25px 0 0;
	@extend %fl;
}

.content-wr {
  margin: 0 10px 0 0;
}


.pagination {
	
}

.map-block {
	padding-top: 15px;
	height: 395px;
	background: url(../images/map.jpg) no-repeat top center;
	
	.info {		
		@extend %pt_sans_narrow_bold;
		@extend %font_48;
	}
	
	.btn-zakazhu {
		padding: 0 25px 0 80px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin: -25px 0 0 -55px;
			
			@extend .ico-gruz-big;
		}
	}
	
	.btn-perevezu {
		padding: 0 50px 0 105px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin: -22px 0 0 -70px;
			
			@extend .ico-zoom-big;
		}
	}
}

.form div.radiobuttons-list {
	input,
	label {
		@extend %di;
	}
	
	label {
		padding-right: 30px;
	}
}

.rating-stars {
	width: 64px;
	height: 13px;
	
	@extend %pos_rel;
	
	.stars-empty {
		top: 0;
		left: 0;
		height: 100%;
		background: url(../images/star-empty.png) repeat-x;
		z-index: 1;
		
		@extend %db;
		@extend %w_100;
		@extend %pos_abs;
	}
	
	.stars-full-blue,
	.stars-full-green,
	.stars-full {
		top: 0;
		left: 0;
		height: 100%;
		z-index: 2;
		width: 10%;
		
		@extend %db;
		@extend %pos_abs;
	}
	
	.stars-full-green,
	.stars-full {
		background: url(../images/star-full-green.png) repeat-x;
	}
	
	.stars-full-blue {
		background: url(../images/star-full-blue.png) repeat-x;
	}
	
}

.breadcrumbs {
	margin: 10px 0 10px 0;
	
	@extend %font_18;
	@extend %pt_sans_narrow_regular;
	@extend %c_8093a9;
	
	a {
		@extend %c_0a80cb;
	}
	
	a {
		padding: 0 5px;
		&:first-of-type {
			padding-left: 0;
		}
	}
	
	span {
		padding-left: 5px;
	}
}

.errorMessage {
	color: red;
	padding: 3px 0 0 0;
	
	@extend %italic;
	@extend %font_12;
}

.flash-message {
	padding: 20px;
	margin: 0 0 20px 0;
	
	@extend %c_fff;
}

.flash-success {
	background-color: #85bf32;
}

.flash-error {
	background-color: #de5151;
}
.flash-warning {
	background-color: #dd973d;
}

.errorSummary {
    margin: 0 0 10px 0;
    
    @extend %c_de5151;
    
    p {
        margin-bottom: 5px;
        @extend %bold;
    }
    
    li {
        //@extend %c_de5151;
    }
}

.modal-content {
    border: none;
    background-color: #f2f9fe;
    @include border-radius(0);
    
    label {
        padding-bottom: 10px;
        @extend %db;
        @extend %bold;
        @extend %c_697f9a;
    }
    
    /*
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }
	*/
        
    .hint {
        padding-top: 5px;
        @extend %italic;
    }
    

}

#Bids_user_status input[type="radio"],
.modal-content input[type="radio"] {
	margin-top: 0;
}



    .checkbox-wr {
        label {
            @extend %di;
            padding: 0;
        }
        
        input[type="radio"], 
        input[type="checkbox"] {
            margin-top: -3px;
        }
    }


.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-body {
    padding: 0 35px 15px 35px;
}

button.close {
    background-color: #3f546c;
    opacity: 1;
    text-shadow: none;
    padding: 12px 20px;
    
    @extend %font_13;
    @extend %c_fff;
    @extend %normal;
    
    &:hover {
        background-color: darken(#3f546c, 5%);
        opacity: 1;
        
        @extend %c_fff;
        
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 500px;
    }    
}

.modal-title {
    padding-bottom: 15px;
    
    @extend %pt_sans_narrow_bold;
    @extend %c_2e3c54;
    @extend %font_37;
}

.modal-footer {
    border: none;
    background-color: #3f546c;
	padding: 15px 35px 30px 35px;
    @extend %text_l;
    
    .modal-title {
        @extend %c_fff;
    }    
}

[class*="col-"] {
    box-sizing: border-box;
}

#RegistrationForm_user_status {
     @extend .clearfix;
    
    input,
    label {
        @extend %fl;
    }
    
}

#Bids_user_status label,
#RegistrationForm_user_status label {
	padding: 0 35px 0 5px;
}


.select-user-type-lbl {
    @extend %pt_sans_narrow_bold;
    @extend %font_24;
    @extend %text_c;
    
}

.bids-sorting-block {
	border-bottom: 1px solid #b2daeb;
	margin-bottom: 30px;
}

.bids-sorting-block-list {
	@extend %dtr;
	
	li {
		padding: 15px 30px;
		border-right: 1px solid #b2daeb;
		
		@extend %dtc;
	}
	
	.active {
		background-color: #f4fbfe;
		padding-right: 45px;
		
		@extend %bold;
		@extend %pos_rel;
		
		&:before {
			content: '▼';
			right: 20px;
			top: 15px;
			
			@extend %pos_abs;
			@extend %c_cbe0eb;
		}
		
		a,
		a:hover,
		a:active,
		a:focus {
			@extend %c_2e3c54;
			border-color: #2e3c54;
		}
	}
	
	a {
		border-bottom: 1px dotted #1e90d9;
		@extend %underline_n_n;
	}
	
	a,
	a:hover,
	a:active,
	a:focus {
		@extend %c_1e91da
	}
}

.bids-sorting-block-btn {
	border-top: 1px solid #b2daeb;
	
	&:hover {
		background-color: #f4fbfe;
	}
	
	
}

.hscrollerbar {
	@include background-image(linear-gradient(#2ebffe, #268af0));
}

.cat-ico-s-15,
.cat-ico-s-14,
.cat-ico-s-13,
.cat-ico-s-12,
.cat-ico-s-11,
.cat-ico-s-10,
.cat-ico-s-9,
.cat-ico-s-8,
.cat-ico-s-7,
.cat-ico-s-4,
.cat-ico-s-3,
.cat-ico-s-2 {
	@extend %for_sprite;
	
	&:before {
		@extend %pos_abs;
		
		top: 0;
		left: 0;
	}
	
}

.cat-ico-s-2 {
	&:before {
		@extend .ico-cats-2;
		margin-top: 20px;
	}
}

.cat-ico-s-3 {
	&:before {
		@extend .ico-cats-3;
		margin-top: 17px;
	}
}

.cat-ico-s-4 {
	&:before {
		@extend .ico-cats-4;
		margin-top: 16px;
	}
}

.cat-ico-s-7 {
	&:before {
		@extend .ico-cats-7;
		margin-top: 17px;
	}
}

.cat-ico-s-8 {
	&:before {
		@extend .ico-cats-8;
		margin-top: 17px;
	}
}

.cat-ico-s-9 {
	&:before {
		@extend .ico-cats-9;
		margin-top: 19px;
	}
}

.cat-ico-s-10 {
	&:before {
		@extend .ico-cats-10;
		margin-top: 19px;
	}
}

.cat-ico-s-11 {
	&:before {
		@extend .ico-cats-11;
		margin-top: 16px;
	}
}

.cat-ico-s-12 {
	&:before {
		@extend .ico-cats-12;
		margin-top: 21px;
	}
}

.cat-ico-s-13 {
	&:before {
		@extend .ico-cats-13;
		margin-top: 16px;
	}
}

.cat-ico-s-14 {
	&:before {
		@extend .ico-cats-14;
		margin-top: 16px;
	}
}

.cat-ico-s-15 {
	&:before {
		@extend .ico-cats-15;
		margin-top: 19px;
	}
}
/*
.review-value-good img {
	top: 2px;

}
.review-value-bad img {
	top: 14px;
}
*/

.page-text {
	h3 {
		margin: 20px 0;
		
		&:first-of-type {
			margin-top: 0;
		}
	}
	
	ul,
	div,
	p {
		@extend %lh_18;
		padding-bottom: 10px;
		
	}
	
	li {
		list-style: disc inside;
		margin-bottom: 5px;
	}
}

.user-online,
.user-ofline {
	padding-top: 2px;
	padding-bottom: 2px;
	top: -4px;
}

.ui-datepicker {
	z-index: 100 !important;
}