/* Футер */


.footer {
	& > div {
		padding-top: 60px;
	}
	
	.questions {
		margin: 5px 0 0 99px;
		
		@extend %pt_sans_narrow_bold;
		@extend %font_18;
		@extend %c_2e3c54;		
		
		.title {
			
			
			@extend %db;
			@extend %pt_sans_narrow_regular;
			@extend %font_18;
			@extend %c_2e3c54;
		}
	}
	
	.created-by {
		font-size: 14px;
		line-height: 42px;
		margin: 20px 0 0 0;
		
		@extend %c_697f9a;
		@extend %pos_rel;
		
		a:visited,
		a:hover,
		a {
			color: inherit;			
		}
		
		a {
			height: 30px;
			right: 0;
			top: 0;
			padding-left: 30px;
			line-height: 42px;
			
			@extend %db;
			@extend %pos_abs;
			@extend %for_sprite;
			@extend %underline_y_n;
			
			&:before {
				left: 5px;
				top: 0;
				@extend .ico-farba;
			}
			
		}
	}

}

.footer-cell {
	margin-right: 110px;
	height: 200px;
	
	@extend %fl;
	
	li {
		margin-bottom: 10px;
	}
	
	a {
		@extend %underline_n_y;
	}
	
	a:visited,
	a:hover,
	a {
		@extend %c_0a80cb;
	}
	
}

.footer-cell-last {
	margin-right: 0;
	
	@extend %fr;
	
	li {
		@extend %fl;
	}
	
	a {
		@extend %underline_y_n;
	}
	
	span,
	a {
		@extend %font_12;
	}
	
	span {
		@extend %c_ccd3d7;
	}
	
	.login {
		@extend %for_sprite;
		
		&:before {
			top: 2px;
			left: -10px;
			@extend .ico-key;
		}
	}
	
	
	.separator {
		margin: 0 15px;
	}
	
}


