/* Футер */


.footer {
	& > div {
		padding-top: 60px;
	}
	
	.questions {
		margin: 5px 0 0 99px;
		
		@extend %pt_sans_narrow_bold;
		@extend %font_18;
		@extend %c_2e3c54;		
		
		.title {
			
			
			@extend %db;
			@extend %pt_sans_narrow_regular;
			@extend %font_18;
			@extend %c_2e3c54;
		}
	}
	
	.created-by {
		font-size: 14px;
		@extend %c_697f9a;
		
		a:visited,
		a:hover,
		a {
			color: inherit;
			
		}
	}

}

.footer-cell {
	margin-right: 20px;
	
	@extend %fl;
}


