/* Шапка сайта */
.header-row1 {
	background-color: #f3fbff;
	border-bottom: 1px solid #bbdceb;
	padding: 10px 0 15px 0;
}


.header-row1-menu {
	li {
		height: 25px;
		line-height: 25px;
		margin: 0 60px 0 0;
		
		@extend %fl;
	}
	
	a {
		@extend %font_12;
		@extend %c_53aae2;
	}
	
	.contacts {

		margin-right: 90px;
	}
	
	.gruzodatel {
		border-left: 1px solid #53aae2;		
		padding-left: 70px;
	}
	
	.perevozchik {
		border-right: 1px solid #53aae2;		
		padding-right: 70px;		
	}
	
	.login-items {
		@extend %fr;
	}
	
	.reg {
		margin-right: 0;
	}
	
	.login {
		margin-right: 0;
		
		@extend %for_sprite;
		
		&:before {
			top: 7px;
			left: -10px;
			@extend .ico-key;
		}
	}
	
	.separator {
		margin: 0 15px;
		
		span {
			@extend %c_ccd3d7;
		}
	}
}

.logo-top {
	@extend %db;
	@extend %fl;
	
}

.header-row2 {
	padding: 20px 0 25px 0;
	
	.buttons-block {
		margin: 8px 0 0 135px;
		
		@extend %fl;
	}	
	
	.btn-zakazhu {
		margin: 0 5px 0 0;
		padding: 0 25px 0 40px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin-top: -8px;
			margin-left: -20px;
			@extend .ico-plus;
		}
	}
	
	.btn-perevezu {
		padding: 0 36px 0 56px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin-top: -9px;
			margin-left: -25px;
			@extend .ico-zoom;
		}
	}
	
	.questions {
		margin-top: 18px;
		
		@extend %fr;
		@extend %pt_sans_narrow_regular;
		@extend %font_24;
		@extend %c_96a5b8;
		
		.title {
			padding: 0 25px 0 0;
			
			@extend %c_8093a9;
			@extend %pt_sans_narrow_bold;
			@extend %font_20;
		}
		
		.phone-numb {
			@extend %pt_sans_narrow_bold;
			@extend %c_0a80cb;
		}
		
		
	}
}

