/* Шапка сайта */
.header-row1 {
	background-color: #f3fbff;
	border-bottom: 1px solid #bbdceb;
	padding: 10px 0 15px 0;
}


.header-row1-menu {
	li {
		height: 25px;
		line-height: 25px;
		margin: 0 60px 0 0;
		
		@extend %fl;
	}
	
	a {
		@extend %font_12;
		@extend %c_53aae2;
	}
	
	.contacts {
		margin-right: 90px;
	}
	
	.gruzodatel,
	.perevozchik {
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin-top: -9px;
			
			@extend .ico-question;
		}
	}	
	
	.gruzodatel {
		border-left: 1px solid #53aae2;		
		padding-left: 70px;
		
		&:before {
			left: 48px;
		}
	}
	
	.perevozchik {
		border-right: 1px solid #53aae2;		
		padding-right: 70px;
		
		&:before {
			left: -22px;
		}		
	}
	
	.login-items {
		@extend %fr;
	}
	
	.logout,
	.profile,
	.login,
	.reg {
		margin-right: 0;
	}
	
	.login {
		
		@extend %for_sprite;
		
		&:before {
			top: 7px;
			left: -10px;
			@extend .ico-key;
		}
	}
	
	.logout {
		a {
			overflow: hidden;
			text-indent: 7777px;
			white-space: nowrap;
			width: 8px;
			height: 14px;
			margin-top: 8px;
			
			@extend %db;
			@extend %for_sprite;
			@extend %underline_n_n;

			&:before {
				top: 0;
				left: 0;
				@extend .ico-logout;
			}
		}	
	}
	
	.profile {
		@extend %for_sprite;
		
		&:before {
			top: 8px;
			left: -15px;
			@extend .ico-avatar-s;
		}
		
		
	}
	
	
	
	.separator {
		margin: 0 15px;
		
		span {
			@extend %c_ccd3d7;
		}
	}
}

.logo-top {
	@extend %db;
	@extend %fl;
	
}

.header-row2 {
	padding: 20px 0 25px 0;
	
	.buttons-block {
		margin: 8px 0 0 135px;
		
		@extend %fl;
	}	
	
	.btn-zakazhu {
		margin: 0 5px 0 0;
		padding: 0 25px 0 40px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin-top: -8px;
			margin-left: -20px;
			@extend .ico-plus;
		}
	}
	
	.btn-perevezu {
		padding: 0 36px 0 56px;
		
		@extend %for_sprite;
		
		&:before {
			top: 50%;
			margin-top: -9px;
			margin-left: -25px;
			@extend .ico-zoom;
		}
	}
	
	.btn-zakazhu-270,
	.btn-perevezu-270 {
		width: 270px;
		@extend %text_c;
	}
	
	.questions {
		margin-top: 18px;
		
		@extend %fr;
		@extend %pt_sans_narrow_regular;
		@extend %font_24;
		@extend %c_96a5b8;
		
		.title {
			padding: 0 25px 0 0;
			
			@extend %c_8093a9;
			@extend %pt_sans_narrow_bold;
			@extend %font_20;
		}
		
		.phone-numb {
			@extend %pt_sans_narrow_bold;
			@extend %c_0a80cb;
		}
		
		
	}
}

