.my-page {
	margin: 30px 0 0 0;
}

.my-username {
	margin: 0 0 55px 0;
	
	@extend %font_24;
	@extend %c_2e3c54;
	@extend %bold;
	@extend %pt_sans_narrow_bold;
}

.my-last-requests-title {
	@extend %bold;
	@extend %font_24;
	@extend %c_2e3c54;
	@extend %pt_sans_narrow_bold;
	
	span {
		@extend %normal;
		@extend %pt_sans_narrow_regular;
		@extend %c_8093a9;
	}
	
	a {
		@extend %normal;
		@extend %arial;
		@extend %font_14;
	}
}

.rating-ttl-g {
	border-bottom: 1px dotted #fff;
}

.rating-stars-xl {
	width: 134px;
	height: 24px;
	
//	@extend %pos_rel;
}

.rating-stars-empty {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/star-empty-big.png) repeat-x;
	z-index: 1;
	
	@extend %db;
	@extend %pos_abs;
	
}

.rating-stars-full {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/star-full-blue-big.png) repeat-x;
	z-index: 2;
	width: 70%;
	
	@extend %db;
	@extend %pos_abs;
	
}


.rating-container {
	padding: 22px;
	background: url(../images/rating-bg.jpg) no-repeat top center;
	
//	.rating {
//		margin: 0 0 15px 0;
//		
//		@extend %bold;
//		@extend %font_20;
//		@extend %c_fff;
//		@extend %pos_rel;
//		
//		
//	}
	
}

.rating-container-g {
	height: 90px;
}

.rating-container-p {
	height: 126px;
}

.rating-stars-p {
	top: 0;
	right: 5px;

}	


.rating-info {
	& > div {
		width: 90px;
		
		@extend %fl;
		@extend %c_fff;
		
		& > span {
			padding: 5px 0 0 0;
			
			@extend %db;
			@extend %bold;
			@extend %font_22;
		}
	}
}

.rating-info-block2-g {
	top: 22px;
	right: 22px;
	width: 80px;
}

.rating-age {
	margin: 12px 0 0 0;
	
	@extend %c_fff;
	@extend %font_14;
	
	span {
		@extend %bold;
	}
	
}

.my-rating-info-block2 {
	margin: 0 0 0 40px;
}

.my-rewiews {
	padding: 15px 18px;
	border: 1px solid #b2daeb;
	border-top: none;
}

.my-rewiews-head {
	border-bottom: 1px solid #b2daeb;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	
	@extend %font_14;
	@extend %bold;
	@extend %text_c;
	@extend %c_2e3c54;
	
	
}

.my-rewiews-table {
	@extend %w_100;
	
	td {
		padding: 6px 0;
		
		@extend %text_c;
	}
	
	.head {
		@extend %font_12;
		@extend %c_2e3c54;
	}
	
	.good {
		@extend %font_14;
		@extend %bold;
		@extend %c_33a72c;
	}
	
	.bad {
		@extend %font_14;
		@extend %c_eb4c4c;
	}
}

.my-contact-info-company-edit {
	.phones {
		li {
			padding-left: 25px;
			@extend %di;
			@extend %bold;
			
			input[type="text"] {
				width: 174px;
			}
			
		}
		.field-title {
			padding: 0 0 0 25px;
			
			@extend %for_sprite;
			
			&:before {
				left: 0;
				@extend .ico-phone-blue
			}
		}
	}
	
	.contacts {
		line-height: 20px;
		
		li {
			padding-left: 70px;
			height: 20px;
			
			
			@extend %di;
			@extend %bold;
			@extend %for_sprite;
			
			&:before {
				left: 45px;
				top: 0;
			}
			
			input[type="text"] {
				width: 247px;
			}
		}
		
		.email {
			padding-left: 25px;
			&:before {
				left: 0;
				top: 1px;
				
				@extend .ico-email-blue;
			}
		}
		
		.skype {
			&:before {
				top: -1px;
				@extend .ico-skype-blue;
			}
		}
		
		.website {
			&:before {
				top: -1px;
				@extend .ico-website-blue;
			}
		}
		
	}
	
	
	
		
	.my-contact-info-company-list {
		
		
		p {
			border-bottom: none;
			line-height: inherit;
		}
		
//		input[type="text"] {
//			width: 198px;
//		}
		
		.wide {
			width: 515px;
		}
	}
	
	textarea {
		width: 97%;
		height: 90px;
	}
}

// смена паоля и емайла

.change-email-block,
.change-password-block {
	@extend %fl;
	@extend %w_50;
	
	.my-contact-info-container {
		padding: 20px;
	}
	
	.narrow_bold_24 {
		padding-bottom: 25px;
	}
	
	.cancel-btn,
	input[name="cancel"] {
		@extend %fr;
	}
	
	label {
		padding: 0 0 5px 0;
		@extend %db;
		@extend %bold;
	}
	
	.current-email {
		padding-bottom: 17px;
		
		@extend %c_0a80cb;
		@extend %bold;
	}
	
	.row {
		margin: 0 0 20px 0;
	}
	
	input[type="email"],
	input[type="password"],
	input[type="text"] {
		width: 508px;
	}
}

.change-email-block .my-contact-info-container {
	margin: 0 30px 0 0;
}
.change-password-block .my-contact-info-container {
	margin: 0 0 0 30px;
}
