.my-requests-sort-block {
    border-bottom: 1px solid #b2daeb;
    
    @extend %pos_rel;
    
    &:after,
    &:before {
        content: ' ';
        bottom: -18px;
        height: 18px;
        width: 1px;
        background-color: #b2daeb;
        
        @extend %pos_abs;
    }
    
    &:before {
        left: 0;
    }
    
    &:after {
        right: 0;
    }
    
    li {
        line-height: 36px;
        padding: 0 25px;
        
        
        @extend %fl;
    }
    
    a {
        
        
        border-bottom: 1px dotted #1e91da;
        
        //@extend %db;
        @extend %underline_n_n;
        
        &:hover {
            border-color: #fff;
        }
        
    }
    
    .active {
        background-color: #f4fbfe;
        
        a {
            border-color: #2e3c54;
            
            @extend %c_2e3c54;
            @extend %bold;
            
        }
        .sort-direction {
            @extend %c_cbe0eb;
        }
    }
    
    .sort-block-item {
        border: 1px solid #b2daeb;
        border-bottom: none;
    }
    
    .sort-block-date {
        
    }
    
    .sort-block-requests {
        
        border-left: none;
    }
}

/* .my-requests-block    {
    
    .requests1-list-head-info {
        margin-right: 150px;
    }
    
    .requests1-list-head-perevozchik {
        margin-right: 100px;
    }
    
    .requests1-list-head-rating {
        margin-right: 40px;
    }
    
    .requests1-list-head-zakazchik {
        margin-right: 115px;
    }
    
    .requests1-list-item-info {
        width: 230px;
    }
    
    .requests1-list-item-perevozchik {
        width: 180px;
    }
    
    .requests1-list-item-rating {
        width: 90px;
    }
    
    .requests1-list-item-zakazchik {
         width: 135px;
    }
    
    .requests1-list-item-review {
        width: 250px;
    }
}
 */


.profile-requests-block {
	.col1 {
		width: 6%;
	}
	.col2 {
		width: 20%;
	}
	.col3 {
		width: 8%;
	}
	.col4 {
		width: 15%;
	}
	.col5 {
		width: 12%;
	}
	.col6 {
		width: 15%;
	}
	.col7 {
		width: 24%;
	}
	
	.col21 {
		width: 26%;
	}
	
	.col41 {
		width: 25%;
	}
	
	.col51 {
		width: 25%;
	}
	
	.col61 {
		width: 18%;
	}
	
}

.review-perevoz-ttl {
	width: 77px;
	line-height: 15px;
	
	.notice {
		right: 0;
		top: -3px;
	}
}

.otziv-lbl {
	border-bottom: 1px dotted #2e3c54;
}

.profile-requests-btns {
	height: 13px;
}

.comment-this-btn,
.rate-this-btn {
	top: 50%;
	margin-top: -12px;
	right: 0; 
}

.profile-requests-comment-frm {
	border-top: none;
}

.perevozchik-cell {
	border-left: 1px solid #e0f1f9;
	border-right: 1px solid #e0f1f9;
	padding-left: 5px;
	padding-right: 5px;
}

.gruzodatel-cell {
	border-right: 1px solid #e0f1f9;
}

.perevozchik-cell,
.gruzodatel-cell {
	padding-left: 10px;
	padding-right: 10px;
}
