.my-contact-info-container {
//	border: 1px solid #b2daeb;
	
//	@extend %pos_rel;
	
	.btn-w250 {
		top: 20px;
		right: 20px;
		
//		@extend %pos_abs;
	}
}

.my-contact-info-list {
	display: table-row;
	
	li {
		width: 230px;
		display: table-cell;
	}
	
	p {
		height: 19px;
		line-height: 18px;
		padding: 0 0 10px 25px;
		
		@extend %font_18;
		@extend %for_sprite;
		
		&:before {
			top: 0;
			left: 0;
		}
	}
	
	.phone	{
		@extend %bold;
		
		&:before {
			@extend .ico-phone-blue;
		}
	}
	
	.email:before {
		top: 3px;
		@extend .ico-email-blue;
	}
	
	.skype:before {
		@extend .ico-skype-blue;
	}
	
	.website:before {
		@extend .ico-website-blue;
	}
}


//.my-contact-info-container-wr {
//	padding: 20px;
//}
//
//.my-contact-info-company {
//	background-color: #f4fbfe;
//}

//.my-contact-info-company-container {
////	margin: 0 0 35px 0;
//}

.my-contact-info-company-list {
	
	li {
		min-width: 410px;
		height: 32px;
		display: table-row;
	}
	
	p {
		width: 205px;
		display: table-cell;
		border-bottom: 1px solid #b2daeb;
		line-height: 32px;
		
		@extend %font_14;
		
		span {
			@extend %bold;
		}
	}
	
	.sep {
		border: none;
		width: 40px;
	}
}

.my-contact-info-descr {
	width: 850px;
	line-height: 18px;
	
	@extend %font_14;	
}

.my-contact-info-company-list .contact-info-wide	{
	width: 850px;
}
