.requests-list-head {
//	margin-bottom: 15px;
	
//	li {
//		@extend %fl;
//		@extend %font_12;
//		@extend %c_757575;
//	}
	
	.numb {
		margin-left: 25px;
	}
	
	.info {
		margin-left: 41px;
	}
	
	.addr {
		padding-left: 15px;
		@extend %for_sprite;
		
		&:before {
			top: -4px;
			left: 0;
			@extend .ico-addr;
		}
	}
	
	.from {
		margin-left: 83px;		
	}
	
	.to {
		margin-left: 106px;
	}
	
	.date {
		width: 80px;
		margin: -8px 0 0 117px;
	}
	
	.price {
		width: 90px;
		margin: -8px 0 0 80px;
		@extend %text_c;
	}
	
	
}


.requests-list-item {
	&:hover {
		background-color: #f4fbfe;
	}
}

.cargo_foto {
	left: -13px;
	top: 0;
	width: 45px;
	height: 45px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.requests-list-item_number {
	padding: 52px 0 0 0;
	margin: 0 40px 0 0;
	
	&:before {
		top: 0;
		left: 50%;
		margin-left: -20px;
		
		@extend .ico-car1;
	}
}

.cat-b-2:before {
	@extend .catn-c2-b;
}

.rl-cat-2:before {
	margin-left: -19px;
}

.bp-cat-2:before {
	margin-left: 11px;
}

.cat-b-3:before {
	@extend .catn-c3-b;
}

.rl-cat-3:before {
	margin-left: -18px;
}

.bp-cat-3:before {
	margin-left: 11px;
}

.cat-b-4:before {
	@extend .catn-c4-b;
}

.rl-cat-4:before {
	margin-left: -18px;
}

.bp-cat-4:before {
	margin-left: 8px;
}

.cat-b-7:before {
	@extend .catn-c7-b;
}

.rl-cat-7:before {
	margin-left: -18px;
}

.bp-cat-7:before {
	margin-left: 8px;
}

.cat-b-8:before {
	@extend .catn-c8-b;
}

.rl-cat-8:before {
	margin-left: -18px;
}

.bp-cat-8:before {
	margin-left: 10px;
}

.cat-b-9:before {
	@extend .catn-c9-b;
}

.rl-cat-9:before {
	margin-left: -24px;
}

.bp-cat-9:before {
	margin-left: 2px;
}

.cat-b-10:before {
	@extend .catn-c10-b;
}

.rl-cat-10:before {
	margin-left: -18px;
}

.bp-cat-10:before {
	margin-left: 10px;
}

.cat-b-11:before {
	@extend .catn-c11-b;
}

.rl-cat-11:before {
	margin-left: -18px;
}

.bp-cat-11:before {
	margin-left: 10px;
}

.cat-b-12:before {
	@extend .catn-c12-b;
}

.rl-cat-12:before {
	margin-left: -18px;
}

.bp-cat-12:before {
	margin-left: 10px;
}

.cat-b-13:before {
	@extend .catn-c13-b;
}

.rl-cat-13:before {
	margin-left: -24px;
}

.bp-cat-13:before {
	margin-left: 5px;
}

.cat-b-14:before {
	@extend .catn-c14-b;
}

.rl-cat-14:before {
	margin-left: -23px;
}

.bp-cat-14:before {
	margin-left: 5px;
}

.cat-b-15:before {
	@extend .catn-c15-b;
}

.rl-cat-15:before {
	margin-left: -18px;
}

.bp-cat-15:before {
	margin-left: 9px;
}

.requests-list-item_info {
	margin-right: 50px;
	width: 151px;
}

.requests-list-item-info_url {
	&:visited {
		@extend %c_1e91da;
	}
}

.requests-list-item-info_descr {
	margin: 0 0 17px 0;
}

.requests-list-item-info_gruzchiki {
	height: 19px;
	line-height: 19px;
	padding: 0 0 0 22px;
	
	@extend %for_sprite;
	
	&:before {
		left: 0;
		top: 0;
		@extend .ico-girya;
	}
	
}


.requests-list-item_to,
.requests-list-item_from {
	width: 145px;
	margin-right: 15px;
	
	& > span,
	a {
		padding-left: 25px;
	}
}

.requests-list-item_from {
	height: 66px;
}

.requests-list-item_author {
	white-space: nowrap;
	bottom: 0;
	
	a {
		padding-left: 0;
	}
}

.requests-list-item_suggestions {
	margin-top: 34px;
	
	.suggestion-orange,
	.suggestion-green {
		padding: 2px 5px;
		margin-right: 3px;
		
		@include border-radius(2px);
	}
	
	.suggestion-green {
		background-color: #8ccb45;
	}
	
	.suggestion-orange {
		background-color: #ffa100;
	}
}

.counry-by {
	background: url(../images/flags/by.gif) no-repeat left 3px;
	height: 16px;
	line-height: 16px;
}

.requests-more-btn {
	padding: 10px 0 12px 0;
	
	&:focus,
	&:hover,
	&:visited {
		@extend %c_1e91da;
	}
}

.requests-show-block {
	border-bottom: 4px solid #425770;
}

.requests-show-block-item {
	padding: 10px 40px;
	
	a {
		@extend %underline_n_n;
		@extend %c_1e91da;
		
		border-bottom: 1px dotted #1e90d9;
		
		&:hover {
			border-color: #fff;
		}
	}
	
	&.active {
		background-color: #425770;
		
		a {
			@extend %bold;
			@extend %c_fff;
			
			border-color: #425770;
		}
	}
}
