#transport-form {
	.table-cell {
		padding-bottom: 5px;
	}
	
	.normal {
		@extend %normal;
	}
	
	.modal-body {
		padding: 15px;
	}
	
	.modal-header .close {
		margin-top: 0;
	}
	
	.upload-transport-image .btn-grey-33 {
		padding: 0 14px;
		text-transform: none;
		
		
		@include border-radius(0);
	}
}

.transport-form-title {
	padding-left: 15px;
}

.Transport_comment,
.Transport_name {
	width: 322px;
}

.upload-transport-image {
	.my-transport-image {
		width: 95px;
		height: 95px;
	}
}

.transport-form-col1 {
	width: 125px;
}